@model AppynittyWebApp.Models.Career

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}



@*<style>
        input[type=checkbox] {
            box-sizing: border-box;
            padding: 0;
            font-size: 4px;
            margin-top: -5%;
            margin-left: -31%;
        }
    </style>*@
<div class="container p-3 my-3 border">
    @*<h1> @ViewBag.PageName</h1>*@

    <div class="row">
        <div class="col-sm-6">
            <hr />
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (@ViewBag.IsEdit)
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label"></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MinExp" class="control-label">Minimum Experience</label>
                            <input type="number" asp-for="MinExp" class="form-control" min="0" max="5" />
                            <span asp-validation-for="MinExp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaxExp" class="control-label">Maximun Experience</label>
                            <input type="number" asp-for="MaxExp" class="form-control" min="0" max="30" />
                            <span asp-validation-for="MaxExp" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MinSalary" class="control-label">Minimum Salary</label>
                            <input asp-for="MinSalary" class="form-control" />
                            <span asp-validation-for="MinSalary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaxSalary" class="control-label">Maximun Salary</label>
                            <input asp-for="MaxSalary" class="form-control" />
                            <span asp-validation-for="MaxSalary" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobLocation" class="control-label"></label>
                    <input asp-for="JobLocation" class="form-control" />
                    <span asp-validation-for="JobLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobDesc" class="control-label"></label>
                    @*<input asp-for="NewsEng" class="form-control" />*@
                    <textarea id="JobDesc" name="JobDesc" asp-for="JobDesc" class="form-control" rows="10" cols="100"></textarea>
                    <span asp-validation-for="JobDesc" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsActive" class="control-label"></label>
                    @*@Html.CheckBox("isActive")*@
                    @*<input id="IsActive" type="checkbox" name="IsActive" value="IsActive" />*@
                    <input type="checkbox" asp-for="IsActive" />
                    @*<span asp-validation-for="IsActive" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <a class="btn btn-danger" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('JobDesc');
    </script>
}