@{
    ViewData["Title"] = "Terms And Conditions";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppynittyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <p>
            <b> <span lang="EN-US" class="txt" style="font-size: 22px;">TERMS AND CONDITIONS</span></b>
        </p>
        <p>
            <b><span lang="EN-US" class="txt">YOU ARE ADVISED TO READ THIS DOCUMENT CAREFULLY. BY YOUR ACTS OF ACCESSING THIS WEBSITE </span> </b>
            <span lang="EN-US" class="txt">
                <a target="_blank" href="#"></a>
                <b> (HEREINAFTER REFERRED TO AS ‘RMS’), YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT AGREE WITH ANY OF THESE TERMS AND CONDITIONS, YOU SHOULD NOT ACCESS OR USE RMS. IF YOU HAVE ANY QUESTIONS ABOUT THESE TERMS, PLEASE CONTACT ABUSE@NAUKRI.COM &nbsp;</b>
            </span>
        </p>

    </div>
</body>
</html>