@{
    ViewData["Title"] = "Terms And Conditions";
   
}
<!DOCTYPE html>
<html lang="en">
@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppynittyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>*@
<style>
    .separator {
        display: flex;
        align-items: center;
    }

        .separator .line {
            height: 2px;
            flex: 1;
            background-color: #0fb2b1
        }

        .separator h2 {
            padding: 0 2rem;
            color: #0fb2b1;
            font-weight: 600 !important;
        }

    p {
        text-align: justify
    }
</style>
<body>
    <div class="container">
        <div class="separator py-4 mb-5">
            <div class="line"></div>
            <h2>
                TERMS AND CONDITIONS
            </h2>
            <div class="line"></div>
        </div>
        
        <p>
            By accessing this website www.appynitty.com, you acknowledge that you have read, understood and accepted these Terms of Use that governs the use of this Website. In the event of you are not agreeing to these terms and conditions, you are requested by Appynitty communications not to access the Website or download any materials from the Website. Your continued use of / access to the Website or downloading any material available on the Website will be construed as your acceptance of these Terms of Use. Appynitty communications reserves the right to make modifications, changes and alterations to the contents of this Website, including these Terms of Use, at any time without any prior notice.
        </p>
        <p class="mb-5">Appynitty communications does not represent that the contents or materials available at this site are appropriate or available for use in your country and access to them from territories where their contents are illegal, is prohibited. You are responsible for compliance with all the applicable local laws.</p>
   
        <div class="mb-5">
            <p class="font-weight-bold">
                Right to Use :
            </p>
            <p>
                Appynitty communications only grants you a non-exclusive, non-transferable, limited right to access, use and display to this Website and the materials thereon only for personal and informational purpose.
            </p>
            <p>
                Permission to use the videos, documents (such as white papers, press releases, and other publications) that can be downloaded from this Website is granted by Appynitty communications, provided that, (1) Appynitty communications’ copyright notice appears in all the copies of documents, (2) Use of such documents from this website is for informational and non-commercial use only and will not be copied or posted on any network computer or broadcast in any media, and (3) No modifications of any documents are made. Any unauthorized use is expressly prohibited by law and may result in severe civil and criminal penalties.
            </p>
            <p>
                The documents specified above do not include the design or layout of this Website. Elements of this Website are protected by trade dress and other laws and may not be copied or imitated in whole or in part. No logo, graphic, sound or image from this website may be copied or retransmitted unless expressly permitted by Appynitty communications.
            </p>
        </div>
        <div class="mb-5">
            <p class="font-weight-bold">Intellectual Property Rights :</p>
            <p>
                This website, including its design, layout, code and contents and all the material present (excluding any third-party materials) is exclusive property of Appynitty communications and protected by copyright laws. Copying, reproducing in whole or in part or creating derivative works in any form or medium, without express written permission is prohibited. Appynitty communications does not grant any express or implied rights under any patents, trademarks, copyrights, trade secret information or any other intellectual property rights.
            </p>
            <p>Appynitty’s logo is the registered trademark of Appynitty communications and protected by trademark laws. Appynitty communications and the names of Appynitty communications products referenced herein are trademarks of Appynitty communications. Other products and company names mentioned herein may be trademarks and/or service marks of their respective owners and are acknowledged as such without prejudice.</p>
        </div>
        <div class="mb-5">
            <p class="font-weight-bold">Third Party Content :</p>
            <p>
                The Website may make information or material of third parties available (“Third Party Content”). By accessing such Third-Party Content, you may leave this Website and be directed to an external website that is not maintained by Appynitty communications. Any access or use of such third-party website by you shall be at your own risk and responsibility. Also, Website may provide links to third party sites. These linked sites are not under the control of Appynitty communication and Appynitty communications is not responsible for the contents of any linked site or any link contained in a linked site. Appynitty communications provides links to you only for your convenience, and the inclusion of any link does not imply endorsement by Appynitty communications of the site. Appynitty communications makes no warranty or representation and does not endorse any such Third Party Content.
            </p>
            <p>
                The Website is hosted on a third party server and any use of or access of the Website by you shall be governed by the terms and conditions applicable to the use of such third party server in addition to these Terms of Use.
            </p>
        </div>
        <div class="mb-5">
            <p class="font-weight-bold">No Warranties :</p>
            <p>
                ALL THE INFORMATION AND MATERIAL AVAILABLE ON THIS WEBSITE IS PROVIDED ON “AS IS” BASIS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES OR REPRESENTATIONS OF ANY KIND. APPYNITTY COMMUNICATIONS HEREBY EXPRESSLY DISCLAIMS, TO THE FULLEST EXTENT PERMITTED BY LAW, ALL EXPRESS, IMPLIED, STATUTORY OR OTHER WARRANTIES OR REPRESENTATIONS, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
            </p>
            <p>
                While all the documents and graphics included in the website are factual and true, Appynitty communications and/or its respective partners make no representations about the suitability of the information contained in the documents and related graphics published on this website for any purpose.
            </p>
            <p>
                Appynitty communications does not guarantee or warrant that file available for downloading from this website will be free of infection or viruses, worms, Trojan horses or other codes that manifest contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to the web site for the reconstruction of any lost data.
            </p>
        </div>
        <div class="mb-5">
            <p class="font-weight-bold">Indemnity & Limitation of Liability :</p>
            <p>
                You agree to indemnify, defend and hold harmless Appynitty communications, its subsidiaries and affiliates from any claim, cost, expense, judgment, damages or other loss arising out of or in relation to your use of this Website in any manner.
            </p>
            <p>

                The entire risk arising out of the use of this Website, its contents or material downloaded there from, remains with the user. In no event shall Appynitty communications be liable for any direct, consequential, incidental, special, punitive or other damages whatsoever (including without limitation, damages for loss of business profits, business interruption, or loss of business information), arising out of or in connection with your use or access to the Website (including without limitation non-availability of the Website) even if Appynitty communications has been advised of the possibility of such damages.
            </p>
        </div>
  <div class="mb-5">
      <p class="font-weight-bold">
          Data Privacy :
      </p>
      <p>
          Data privacy is important to Appynitty communications. Appynitty communications has detailed Data Privacy Policy. Appynitty’s Data Privacy Policy describes how we collect, use and disclose information that we may obtain through this Website or as a part of our internal processes.
      </p>
  </div>
        <div class="mb-5">
            <p class="font-weight-bold">Laws & Jurisdiction :</p>
            <p>
                These Terms of Use shall be governed by the laws of India, without giving effect to its conflict of law’s provisions. Any dispute arising out of or in relation these Terms of Use shall be subject to the exclusive jurisdiction of courts at Nagpur, Maharashtra, India.
            </p>
            <p>
                Copyright © 2022 Appynitty communications. All rights reserved.
            </p>
        </div>
    
    
    
    
    
    
    </div>
</body>
</html>