@{
    ViewData["Title"] = "Terms And Conditions";
   
}
<!DOCTYPE html>
<html lang="en">
@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppynittyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>*@
<style>
    .separator {
        display: flex;
        align-items: center;
    }

        .separator .line {
            height: 2px;
            flex: 1;
            background-color: #0fb2b1
        }

        .separator h2 {
            padding: 0 2rem;
            color: #0fb2b1;
            font-weight: 600 !important;
        }

    p {
        text-align: justify
    }
</style>
<body>
    <div class="container">
        <div class="separator py-4 mb-5">
            <div class="line"></div>
            <h2>
                TERMS AND CONDITIONS
            </h2>
            <div class="line"></div>
        </div>
        
        <p>
            <b><span lang="EN-US" class="txt">YOU ARE ADVISED TO READ THIS DOCUMENT CAREFULLY. BY YOUR ACTS OF ACCESSING THIS WEBSITE </span> </b>
            <span lang="EN-US" class="txt">
                <a target="_blank" href="#"></a>
                <b> (HEREINAFTER REFERRED TO AS ‘RMS’), YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT AGREE WITH ANY OF THESE TERMS AND CONDITIONS, YOU SHOULD NOT ACCESS OR USE RMS. IF YOU HAVE ANY QUESTIONS ABOUT THESE TERMS, PLEASE CONTACT </b>
            </span>
        </p>

    </div>
</body>
</html>