
@{
    ViewData["Title"] = "Index";
}
<link href="~/Assets/CSS/AboutUs.css" rel="stylesheet" />
<style>
    .separator {
        display: flex;
        align-items: center;
    }

        .separator .line {
            height: 2px;
            flex: 1;
            background-color: #3cbaba;
        }

        .separator h2 {
            padding: 0 2rem;
            color: #3cbaba;
        }
    .head {
        color: #000;
        font-size: 18px;
    }
    .light{color:#525252}
    p{text-align:justify;}



</style>


 
<section id="hero-bg-video">
    <div class="video-container">
        <div class="dark-overlay"></div>
        <video autoplay="" loop="" muted="" width="100%" height="50%">
            <source src="~/Assets/video3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay-desc">

            @*<h3 style="font-size:2.75rem;color:#fff">
                   Innovating Technologies & Revolutionizing Waste Management
                </h3>*@
            <h6 class="display-para"></h6>
            @*<div class="word"></div>*@

        </div>
    </div>
</section>
@*<div>
    <img src="~/Assets/Images/Government Image design.jpg" style="width:100%"/>
</div>*@
<div class="text-section" id="company">
    <div class="container">
        <div class="separator py-4">
            <div class="line"></div>
            <h2>
                Making Cities Garbage Free
            </h2>
            <div class="line"></div>
        </div>
        <div class="content">

            <p class="text light">Digitalization in solid waste management is changing the way people live, work and play. From online subscription services to mobile apps, digital tools make it easier for residents to manage their waste and stay informed about new ways to reduce, reuse and recycle materials. However, we're just scratching the surface of what is possible with digital technology in this field. There's much more to come Digital solutions are reshaping the environmental services industry by making data collection, analysis, and monitoring more efficient and cost-effective. </p>
            <p class=" text light">We, being a Tech-Driven Innovative Company, immensely contributing towards environmental protection by providing sustainable and robust technological solutions for <b style="color:#000">Solid Waste Management (SWM) </b>to make the cities cleaner, greener and healthier.</p>
            <p class="text light">It's time the waste management industry caught up with the 21st century. That is why we have built the first AI-powered smart waste management system that easily collects and analyses data to improve efficiency, decrease costs, and eliminate environmental impact. Our ICT-based Technology provides digital and paperless real-time monitoring of waste collection real-time data analysis, remote access monitoring of door-to-door waste collection and street cleaning activities. The workforce is optimized with the help of workforce management solutions such as planning, forecasting, scheduling, shift management, and mobile applications to execute tasks.<b style="color:#000"> Our Sanctioned Projects are Successively Running in ULBs (Urban local bodies)</b> like Municipal Corporation, Municipal councils, Nagar Parishad, Nagar Palika, Nagar Panchayat and Nagar Nigam.</p>
            <p class="text mt-4 pt-4 light">Here at Appynitty, we are transforming waste and management using ICT to enable Swachh Bharat Mission. Some of the key technologies relevant to achieve the objectives of the Garbage Free Cities include :</p>
        </div>
    </div>
</div>

<div class="container px-3">
    <ul>
        <li>
            <p style="font-weight: 600; color:#212529">
                <b class="head">•	Smart Waste Bins :  </b>Our intelligent waste bin automatically uses artificial intelligence-based object recognition to sort recyclables into separate compartments. Appynitty's smart waste bins are also equipped with sensors that can detect when the bin is full and send a notification to the appropriate authorities.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Scanify-based Waste Collection :  </b>With the help of this technology, analytics can determine the precise wards/prabhags/zones that need waste collection services. It is also possible to monitor the procedure and source segregation by citizens in real time using Scanify-based waste collection.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	AI Based Monitoring of Waste Collection Vehicle : </b>Route optimization and waste disposal site allocation are two major applications of AI-based monitoring of waste collection vehicles. The purpose of this technology is to make the collection process more efficient by ensuring the contractors dispose of the waste in the appropriate areas.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Waste Level Sensors : </b>India’s leading waste management companies now have an accurate understanding of how much trash is being thrown away by monitoring the level in each bin. Our AI technology allows them to predict when it will be complete, preventing unnecessary trips back and forth from landfills!
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Automated waste collection system (ACS) : </b>Itis the best way to take care the conventional methods like door-to-door, block, community bin collections, curb-side, and transportation with less human involvement.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	GPS devices and sensors on waste trucks : </b>This technology is used to track waste collection trucks to optimize the collection efficiency and ensure contractors landfill waste in designated places.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529" ">
                <b class="head">•	Sensor-based sorting : </b>It helps recognize waste material using sensor technology with their visible spectrum or color. It has infrared/ultraviolet spectra or unique spectral properties of reflected light.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Analytics-based dumpsite management : </b>Accurate monitoring of the waste deposited at the dumpsite, including the amount of dry or wet material deposited there, is accomplished using analytics.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Integrated asset management solutions : </b>Integrated asset management of all waste infrastructure assets, including the associated data, processes, information systems, and governance for manageable operations.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Workforce and resource management : </b>It Optimises the workforce with the help of workforce management solutions like scheduling, planning, forecasting, shift management, and mobile applications to execute tasks efficiently.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	City performance management :  </b>Monitoring the performance of city subsystems through digital technologies and big data analytics to provide efficient performance and proactive crisis management.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Integrated Monitoring solution: </b>In addition, integrated monitoring of all waste management aspects, including waste collection monitoring, source segregation monitoring, dumpsite waste management, street sweeping waste clean-up, and liquid waste clean-up, can be completed, resulting in more efficient and sustainable operations.
            </p>
        </li>
        <li>
            <p style="font-weight:600;color:#212529">
                <b class="head">•	Process Automation: </b>: Manual reporting is eliminated by automatically generating reports and real-time monitoring.
            </p>
        </li>
    </ul>
</div>

<div class="text-section" id="company">
    <div class="container">
        
        <div class="content">

            <p class="text">Currently, the technological sector has developed tools for cities that reduce environmental resource consumption, waste management, and promote sustainability. Industries and businesses in all segments of the economy have benefited from this sector's efforts to point new paths, becoming an important ally in areas like productivity, quality, automation, mechanization, and efficiency. We are working on an aspect for organisations that is fundamental for environmental sustainability is possible through innovation and technology. This trend is seen in cities around the world.  </p>
              </div>
    </div>
</div>


<script>
    var content = 'Government Project';

    var ele = '<span>' + content.split('').join('</span><span>') + '</span>';

    var myFunc = function(){
        $(ele).hide().appendTo('h6').each(function (i) {
            $(this).delay(100 * i).css({
                display: 'inline',
                opacity: 0
            }).animate({
                opacity: 1
            }, 100);
        });}
    
    window.onload = function () {
        setTimeout(myFunc, 2000);
    }
</script>