
@{
    ViewData["Title"] = "EmailMangement";
}
<link href="~/Assets/CSS/Lead_Common.css" rel="stylesheet" />

<section class="dm-product-main">

    <div class="product-section">
        <div class="container">
            <div class="content">
                <h1 class="title">Email Campaign Management</h1>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <p class="text"> <p class="text">Ever since the email has been invented, it has been widely used as a marketing medium and has immensely evolved over the years. Today, customers appreciate a one-to-one connect rather than one size fits all approach! Additionally, with increasing competition and spammers on the loose, email campaigns need to be meticulously designed for individual marketing goals, to grab receiver’s attention and convince them to read it for the value addition it provides.</p>
                <p class="text">With Appynitty Communications as your email campaign manager, you will be ensured of optimized services as per your requirements and budget. Our team will take up the entire responsibility of strategizing, conceptualizing, testing, implementing and monitoring your e-mail campaigns to enable you to achieve desired outcomes.</p>
                <p class="text"><b>Our Email Campaign Management Services:</b></p>
                <p class="text">-	Mass Email Campaign</p>
                <p class="text">-	Personalized Email Campaign</p>
                <p class="text">-	Email Survey Campaigns</p>
                <p class="text">-	Event Oriented Campaigns</p></p>
            </div>
        </div>
    </div>

    <div class="product-f-section">
        <div class="container">
            <div class="content">
                <h1 class="title">Other Services</h1>
            </div>
        </div>
        <div class="container">
            <div class="product-features">
                <div class="features">

                    <div class="icon">
                        <a href="https://www.appynitty.com/lead-management-services" title="Lead Management Services">
                            <img class="img img-responsive" src="https://www.appynitty.com/assets/lead-generation/img/lead.png" data-gif="https://www.appynitty.com/assets/lead-generation/img/lead.gif" alt="Lead Management Services">
                        </a>
                    </div>

                    <a href="lead-management-services" title="Lead Management Services">
                        <h2 class="title">Lead Management Services</h2>
                    </a>
                </div>
                <div class="features">

                    <div class="icon">
                        <a href="https://www.appynitty.com/sales-intelligence-platform" title="Sales Intelligence PaaS">
                            <img class="img img-responsive" src="https://www.appynitty.com/assets/lead-generation/img/paas.png" data-gif="https://www.appynitty.com/assets/lead-generation/img/paas.gif" alt="Sales Intelligence PaaS">
                        </a>
                    </div>

                    <a href="sales-intelligence-platform" title="Sales Intelligence PaaS">
                        <h2 class="title">Sales Intelligence PaaS</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>