
@{
    ViewData["Title"] = "leadGeneration";
}
<link href="~/Assets/CSS/LeadGenration.css" rel="stylesheet" />
<section class="dm-main">
    <div class="product-flex">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="product-logo">
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <!--<picture>
                                                             <source media="(max-width: )" srcset="">
                                                        <img class="img img-responsive" src="" alt="" title=""/>
                        </picture> -->

                        <picture>
                            <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@480.gif">
                            <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@768.gif">
                            <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@991.gif">
                            <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@1199.gif">
                            <img class="img img-responsive" src="~/Assets/Images/Index/Lead_Genration/lead_generation.gif" alt="Digital Marketing Agency" title="Digital Marketing Services">
                        </picture>
                    </div>

                </div>
            </div>
        </div>
        <div class="half">
            <div class="right bg-appy">
                <div class="section">
                    <div class="top-text">
                        <h1 class="title">Lead Generation Campaign</h1>
                        <h2 class="sub-title">Gateway to Shorten Sales Funnel <br> & Increase Business Revenues</h2>

                        <div class="ask-for-quote-btn">
                            <a href="#login-box" class="appy-btn login-window">Let's Get In Touch !</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="dm-text-section">
        <div class="container">
            <div class="text" align="justify">
                Today, when two third of the world population lives and breathes on internet and hi-tech electronic gadgets; there is no escape for
                business from adopting Digital Media Marketing to survive and grow. In fact the Internet of Things makes it easier for business to
                strategically reach out to their target audience with ability to generate instant and accurate customer database.
            </div>
        </div>
    </div>


    <div class="dm-second-section">
        <div class="half bg-appy">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <h3 class="title">Decoding Digital Dynamism<span class="l-b"><br></span> to Drive Digital Revenues</h3>
                        <div class="desc">
                            <p align="justify">Digital Marketing is a vast ocean. There are thousands of companies adding millions of new data for customers to feed on every day, resulting in short attention span for any single message!</p>
                            <p align="justify"> There is no right or wrong in digital marketing with innumerable permutations and combinations of
                                medium, content and strategy that can grab your customer's
                                attention. The key challenge in crafting successful Digital Marketing
                                Campaigns is figuring out what's best for your business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="right">
                <div class="section">
                    <div class="content">
                        <h3 class="title">Providing End-to-End Digital<span class="l-b"><br></span> Marketing Solutions</h3>
                        <div class="desc">
                            <p align="justify">Appynitty Communications' digital marketing arm provides you with end-to-end digital solutions right from conceptualizing and creating to maintaining digital assets for your business.</p>
                            <p align="justify">Our digital strategy planners are experienced in working with clients
                                across multiple industry verticals so whatever is your business; rest
                                assured you will receive expert inputs for formulating and implementing
                                remarkable Digital Marketing Strategy for improved and unified
                                branding and positioning across all platforms.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="dm-text-section">
        <div class="container">
            <div class="text">
                <b>Data Driven Marketing Approach</b>
            </div>
            <div class="text">
                Rapid global digitization has unearthed a gold mine of data and therefore unveils limitless opportunities for businesses to grow with a data driven marketing approach.
            </div>
            <!-- <div class="text">
                <b>Data Driven Marketing Approach</b>
            </div>
            <div class="text">
                Rapid global digitization has unearthed a gold mine of data and therefore unveils limitless opportunities for businesses to grow with a data driven marketing approach.
            </div> -->
        </div>
    </div>


    <div class="dm-second-section">
        <div class="half bg-appy">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <h3 class="title">Engaging in Targeted<span class="l-b"><br></span>Lead Generation Campaign</h3>
                        <div class="desc">
                            <p>Every effort that a business puts into enhancing its digital footprint is to generate leads to grow business revenues. In order to ensure that your efforts reap maximum return on investment it is essential you run a well researched and targeted lead generation campaign.</p>
                            <p> It must include balanced utilization of different techniques to target, attract, engage and convert prospective customers into qualified leads to shorten the sales funnel. </p>
                        </div>
                        <!-- <h3 class="title">Engaging in Targeted<span class="l-b"><br></span>Lead Generation Campaign</h3>
                        <div class="desc">
                            <p>Every effort that a business puts into enhancing its digital footprint is to generate leads to grow business revenues. In order to ensure that your efforts reap maximum return on investment it is essential you run a well researched and targeted lead generation campaign.</p>
                            <p> It must include balanced utilization of different techniques to target, attract, engage and convert prospective customers into qualified leads to shorten the sales funnel. </p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="right">
                <div class="section">
                    <div class="content">
                        <h2 class="title">Lead Generation Process</h2>
                        <div class="desc">
                            <!-- <picture>
                                                                    <source media="(max-width: )" srcset="">
                                                                <img class="img img-responsive" src="" alt="" title=""/>
                            </picture>  -->
                            <picture>
                                <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation_diagram@480.gif">
                                <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation_diagram@768.gif">
                                <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation_diagram@991.gif">
                                <source media="(max-width: 1199x)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation_diagram@1199.gif">
                                <img class="img img-responsive" src="~/Assets/Images/Index/Lead_Genration/lead_generation_diagram.gif" alt="Lead Generation Campaign" title="Lead Generation Campaign">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="product-f-section">
        <div class="container">
            <div class="content">
                <h1 class="title">Our Lead Generation Services</h1>
            </div>
        </div>
        <div class="container">
            <div class="product-features">
                <div class="features">
                    <a href="https://www.appynitty.com/lead-management-services" title="Lead Management Services"><div class="icon"><img class="img img-responsive" data-gif="/Assets/Images/Index/Lead_Genration/lead.gif" src="~/Assets/Images/Index/Lead_Genration/lead.png" alt="Lead Management Services" title="Lead Management Services"></div> </a>
                    <h2 class="title"><a href="lead-management-services" title="Lead Management Services">Lead Management Services</a></h2>
                </div>
                <div class="features">
                    <a href="https://www.appynitty.com/email-marketing-solutions-companies" title="Email Campaign Management"><div class="icon"><img class="img img-responsive" data-gif="/Assets/Images/Index/Lead_Genration/email.gif" src="~/Assets/Images/Index/Lead_Genration/email.png" alt="Email Campaign Management" title="Email Campaign Management"></div> </a>
                    <h2 class="title"><a href="email-marketing-solutions-companies" title="Email Campaign Management">Email Campaign Management</a></h2>
                </div>
                <div class="features">
                    <a href="https://www.appynitty.com/sales-intelligence-platform" title="Sales Intelligence PaaS"><div class="icon"><img class="img img-responsive" data-gif="/Assets/Images/Index/Lead_Genration/paas.gif" src="~/Assets/Images/Index/Lead_Genration/paas.png" alt="Sales Intelligence PaaS" title="Sales Intelligence PaaS"></div> </a>
                    <h2 class="title"><a href="sales-intelligence-platform" title="Sales Intelligence PaaS">Sales Intelligence PaaS</a></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $("a").each(function (i) {
            var img = $(this).find('img');
            var img_src = img.attr("data-gif");
            var osrc;
            if (img_src !== undefined) {
                $(this).hover(function () {
                    osrc = img.attr("src");
                    img.attr("src", img_src);
                }, function () {
                    img.attr("src", osrc);
                });
            }
        });
    })
</script>