
@{
    ViewData["Title"] = "SalesIntelligence";

}
<link href="~/Assets/CSS/Lead_Common.css" rel="stylesheet" />


<section class="dm-product-main">

    <div class="product-section">
        <div class="container">
            <div class="content">
                <h1 class="title">Sales Intelligence PaaS</h1>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <p class="text"> <p class="text">To ensure optimal success of your lead generation campaign, Appynitty Communications brings to you Sales Intelligence Platform as a Service (PaaS).</p><p class="text">This remotely accessible cloud hosted sales intelligence solution, will enable you to monitor in real-time that every lead generated is communicated and duly followed up in time by your sales force. It will also give you a bird’s eye view of your lead conversion rate and other data related to it, for better strategic decision making.</p><p class="text">This entire sales intelligence solution is made available to you at a fraction of cost since it is cloud hosted and does not involve any individual software development or infrastructure set-up cost . You will only need to pay for the services you subscribe for and easily attain high ROI for your lead generation campaigns.</p></p>
            </div>
        </div>
    </div>

    <div class="product-f-section">
        <div class="container">
            <div class="content">
                <h1 class="title">Other Services</h1>
            </div>
        </div>
        <div class="container">
            <div class="product-features">
                <div class="features">

                    <div class="icon">
                        <a href="https://www.appynitty.com/lead-management-services" title="Lead Management Services">
                            <img class="img img-responsive" src="~/Assets/Images/Index/Lead_Genration/lead.png" data-gif="/Assets/Images/Index/Lead_Genration/lead.gif" alt="Lead Management Services">
                        </a>
                    </div>

                    <a href="lead-management-services" title="Lead Management Services">
                        <h2 class="title">Lead Management Services</h2>
                    </a>
                </div>
                <div class="features">

                    <div class="icon">
                        <a href="https://www.appynitty.com/email-marketing-solutions-companies" title="Email Campaign Management">
                            <img class="img img-responsive" src="~/Assets/Images/Index/Lead_Genration/email.png" data-gif="/Assets/Images/Index/Lead_Genration/email.gif" alt="Email Campaign Management">
                        </a>
                    </div>

                    <a href="email-marketing-solutions-companies" title="Email Campaign Management">
                        <h2 class="title">Email Campaign Management</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("a").each(function (i) {
            var img = $(this).find('img');
            var img_src = img.attr("data-gif");
            var osrc;
            if (img_src !== undefined) {
                $(this).hover(function () {
                    osrc = img.attr("src");
                    img.attr("src", img_src);
                }, function () {
                    img.attr("src", osrc);
                });
            }
        });
    })
</script>
