
@{
    ViewData["Title"] = "AboutUs";
}
<head>
    <link href="~/Assets/CSS/AboutUs.css" rel="stylesheet" />
    <style>
        .head{
            color:#000;
            font-size:18px;
            
        }
        .separator {
            display: flex;
            align-items: center;
        }

            .separator .line {
                height: 2px;
                flex: 1;
                background-color: #3cbaba;
            }

            .separator h2 {
                padding: 0 2rem;
                color: #3cbaba;
            }

    </style>
</head>
<section class="contact-main">
    <div class="contact-section">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="product-img">
                        <!-- <picture>
                                                            <source media="(max-width: )" srcset="">
                                                        <img class="img img-responsive" src="" alt="" title=""/>
                        </picture>  -->

                        <picture>
                            <source media="(max-width: 480px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@480.gif">
                            <source media="(max-width: 768px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@768.gif">
                            <source media="(max-width: 991px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@991.gif">
                            <source media="(max-width: 1199px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@1199.gif">
                            <img class="img img-responsive" src="https://www.appynitty.com/assets/about-us/img/aboutus.gif" alt="Digital Marketing Agency" title="Digital Marketing Services">


                            <!--    <source media="(max-width: 480px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@480.gif">-->
                            <!--    <source media="(max-width: 768px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@768.gif">-->
                            <!--    <source media="(max-width: 991px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@991.gif">-->
                            <!--    <source media="(max-width: 1199px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@1199.gif">        -->
                            <!--<img class="img img-responsive" src="https://www.appynitty.com/assets/about-us/img/aboutus.gif" alt="Digital Marketing Agency" title="Digital Marketing Services">-->
                        </picture>

                    </div>

                </div>
            </div>
        </div>
        <div class="half">
            <div class="right bg-appy">
                <div class="section">
                    <div>
                        <div class="top-text">
                            <h1 class="title">About Us</h1>
                            <h2 class="sub-title">Leading Mobile App Development and <br> Digital Marketing Services Company<!-- Leading Mobile App Development and <span class="l-b"><br></span> Digital Marketing Services Company --></h2>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="text-section" id="company">
        <div class="container">
            <div class="separator py-4">
                <div class="line"></div>
                <h2>
                    Who We Are?
                </h2>
                <div class="line"></div>
            </div>
            <div class="content">

                <p class="text">Appynitty was founded to transform cities into innovative and waste-free environments. We have developed a comprehensive suite of products and services through ICT, IoT, GIS and AI technology that helps cities manage solid waste more efficiently. Our products and services are scalable and customizable, so they can be used in any city, regardless of size or resources. </p>


            </div>
        </div>
    </div>

    <div class="container px-3">
        <ul>
            <li>
                <p style="font-weight:600;color:#505050">
                    <b class="head">•	Waste and Recycling Solutions for Smart Cities : </b>Appynitty has developed a smart waste management system to help cities manage their waste and recycling as efficiently as possible using cutting-edge IoT sensors, analytics, and other technologies.
                    Appynitty is committed to providing the best solution for each city's unique solid waste management needs. Our approach is fresh, and our results are tangible – helping you grow smarter!
                </p>
            </li>
            <li>
                <p style="font-weight:600;color:#505050">
                    <b class="head">•	Smart Waste Management System : </b>As a smart waste management provider, Appynitty contributes to developing smart cities–a concept that combines intelligent technologies with urban design and infrastructure development to drive sustainable growth. In a nutshell, Appynitty defines innovative and revolutionary waste solutions as any system that uses technology to manage urban trash collection efficiently.
                </p>
            </li>
            <li>
                <p style="font-weight:600;color:#505050">
                    <b class="head">•	Government-impaneled Projects : </b>We are expanding our horizon to provide excellent mobile applications that bring a unique proposition. We successfully handle Government-Empanelled Municipal Solid Waste (MSW) management projects to reach the pinnacle of success!
                </p>
            </li>
        </ul>
    </div>


    <div class="text-section" id="company">
        <div class="container">
            <div class="separator py-4">
                <div class="line"></div>
                <h2>
                    Vision
                </h2>
                <div class="line"></div>
            </div>
            <div class="content">

                <p class="text">
                    To be a leading Tech- Driven Innovative company by providing end to end enterprise solutions to transform waste management using ingenious technology for enabling Swachh Bharat Mission.
                </p>

               
            </div>
        </div>
    </div>


    <div class="text-section" id="company">
        <div class="container">
            <div class="separator py-4">
                <div class="line"></div>
                <h2>
                    Mission
                </h2>
                <div class="line"></div>
            </div>
            <div class="content">

                <p class="text">
                    Appynity’s mission is to improve the living conditions of both present and future generations by creating a safe, efficient and effective waste management, disposal, and recycling system using technology, ensuring their access to basic natural resources and minimizing the environmental impact of human progress.
                </p>


            </div>
        </div>
    </div>

    <div class="text-section" id="company">
        <div class="container">
            <div class="separator py-4">
                <div class="line"></div>
                <h2>

                    CORE VALUES

                </h2>
                <div class="line"></div>
            </div>
            <div class="content">

                <p class="text">
                    Our core values fundamentally govern the work culture in our organization:


                </p>


            </div>
            <ul>
                <li>
                    <p style="font-weight:600;color:#505050">
                        <b class="head">Integrity - </b>Integrity in our actions and work is key to our work culture. We are committed in ensuring transparency and trust amongst stakeholders internal and external to the organization.
                    </p>
                </li>
                <li>
                    <p style="font-weight:600;color:#505050">
                        <b class="head">Passion - </b>We are a team of individuals who are passionate about the human impact on environment. A team consisting of passionate individuals makes the “hard” work, “fun” work for us.
                    </p>
                </li>
                <li>
                    <p style="font-weight:600;color:#505050" ">
                        <b class="head">Impact -  </b>Creating a positive impact in the environment  is the core purpose of our organization. The ability to make a change and being a significant contributor of that change drives us.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!--<div class="career-section" id="careers">
        <div class="top-flex">
            <div class="half">
                <div class="left">
                    <div class="section">
                        <div class="content">
                            <div class="title">Careers</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="half">
                <div class="right">
                    <div class="section">
                        <div class="content">
                            <div class="title">-->
                                <!--You can accomplish big<span class="l-b"><br></span>things at Appynitty--><!--At Appynitty You Don&rsquo;t Just Do a Job,<br />
                                You Accomplish Your Dreams!!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="content">
                <p class="text">Appynitty Communications is a rapidly expanding company and we welcome hard working and professional candidates across various departments. The growth and prosperity of our employees is of utmost importance to us and we therefore strive hard to maintain a conducive work environment and offer salary as per highest industry standards.</p>

                <p class="text">&nbsp;</p>

                <p class="text">Do drop in your Resume and we will--> <!-- <a href="#login-box" class="login-window"> --><!--get in touch with you!--><!-- </a> --><!--</p>
            </div>
        </div>
    </div>-->

    <!--ty popoup-->
    <div id="pics" style="display: block; margin-top: -228px; margin-left: -210.5px;">
        <img src="ty.jpg" width="300" height="300" id="picOne" />
    </div>
    <!--ty popoup-->


    <!--<div class="contact-form-section">
        <div class="container">
            <div class="form-section">
                <div class="f-g-s">
                    <div class="email">
                        <a href="mailto:hr@appynitty.com" title="hr@appynitty.com">
                            <span class="icon ai-email"></span>
                            hr@appynitty.com
                        </a>
                    </div>
                </div>
                <div class="f-g-s">
                    <div class="mobile">
                        <a href="tel:+919209100900" title="Call Us +919209 100 900">
                            <span class="icon ai-call"></span>
                            +91 9209 100 900
                        </a>
                    </div>
                </div>-->
                <!-- <div class="f-g-s">
                    <div class="form-group">
                        <input class="form-control" placeholder="Upload your CV">
                    </div>
                </div>      -->
                <!--<div class="f-g-s">
                    <div class="c-f-b">
                        <a href="/careers/CVSection" class="login-window"><button class="appy-btn">Upload Your CV</button> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>-->

</section>

<!--modal-->
<style type="text/css">
    .btn-sign {
        width: 460px;
        margin-bottom: 20px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
        background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
        background: -o-linear-gradient(top, #00c6ff, #018eb6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
        text-align: center;
        font-size: 36px;
        color: #fff;
        text-transform: uppercase;
    }

        .btn-sign a {
            color: #fff;
            text-shadow: 0 1px 2px #161616;
        }

    #mask {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 999;
    }

    .login-popup {
        display: none;
        width: 384px;
        background: #fff;
        padding: 10px;
        border: 2px solid #ddd;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99999;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
    }

    img.btn_close {
        float: right;
        margin: -28px -28px 0 0;
    }

    fieldset {
        border: none;
    }

    form.signin .textbox label {
        display: block;
        /*padding-bottom:7px; */
    }

    form.signin .textbox span {
        display: block;
    }

    form.signin p, form.signin span {
        color: #999;
        font-size: 11px;
        line-height: 18px;
    }

    form.signin .textbox input {
        background: #fff;
        border-bottom: 1px solid #333;
        border-left: 1px solid #000;
        border-right: 1px solid #333;
        border-top: 1px solid #000;
        color: black;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font: 13px Arial, Helvetica, sans-serif;
        padding: 6px 6px 4px;
        width: 200px;
    }

    form.signin input:-moz-placeholder {
        color: #bbb;
        text-shadow: 0 0 2px #000;
    }

    form.signin input::-webkit-input-placeholder {
        color: #bbb;
        text-shadow: 0 0 2px #000;
    }

    .button {
        background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
        background: -webkit-gradient(linear, left top, left bottom, from(#3cbaba), to(#3cbaba));
        background: -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
        border-color: #000;
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #f4f4f4;
        cursor: pointer;
        display: inline-block;
        padding: 6px 6px 4px;
        margin-top: 10px;
        font: 12px;
        width: 214px;
    }
</style>
<div class="container">
    <div id="content">
        <div class="post">

            <div id="login-box" class="login-popup">
                <a href="#" id="close" class="close"><img src="/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                <form name="career" style="margin-left: 20px;" method="post" action="https://www.appynitty.com/index.php/AboutUs/careers" class="signin" enctype="multipart/form-data" id="form" onsubmit="return validateForm(event)">
                    <fieldset class="textbox" style="color: black;padding: 58px;">
                        <div class="modal-header" style="color: black;">
                            <strong>Help Us Contact You!</strong>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Name</label>
                                <div class="input-group col-xs-7">
                                    <input type="hidden" name="appname" value="about-us" id="appname" class="form-control" />
                                    <input type="text" name="name" id="name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Email</label>
                                <div class="input-group col-xs-7">
                                    <input type="email" name="email" id="email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Mobile No</label>
                                <div class="input-group col-xs-7">
                                    <input type="text" name="mob" id="mob" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">Upload Resume</label>
                                <div class="input-group col-xs-7">
                                    <p>File Format:doc| docx| pdf</p>
                                    <input type="file" name="userfile" id="userfile" class="form-control" placeholder="choose photo" />
                                    <!--<input type="file" name="userfile" id="location" class="form-control" />-->
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <!--<button class="button btn btn-default" type="button" id="close">Cancel</button>-->
                            <button class="button btn btn-primary" id="btnSave" type="submit">Submit</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!--for thank you image fadein-->
<style>
    #pics {
        display: none;
        /*background: #fff;
    box-shadow: 0px 0px 20px #999;
    border: 2px solid #ddd;
    */
        padding: 10px;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99999;
    }

    #picOne, #picTwo {
        position: absolute;
        display: none;
    }
</style>

