
@{
    ViewData["Title"] = "AboutUs";
}
<head>
    <link href="~/Assets/CSS/AboutUs.css" rel="stylesheet" />
</head>
<section class="contact-main">
    <div class="contact-section">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="product-img">
                        <!-- <picture>
                                                            <source media="(max-width: )" srcset="">
                                                        <img class="img img-responsive" src="" alt="" title=""/>
                        </picture>  -->

                        <picture>
                            <source media="(max-width: 480px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@480.gif">
                            <source media="(max-width: 768px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@768.gif">
                            <source media="(max-width: 991px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@991.gif">
                            <source media="(max-width: 1199px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@1199.gif">
                            <img class="img img-responsive" src="https://www.appynitty.com/assets/about-us/img/aboutus.gif" alt="Digital Marketing Agency" title="Digital Marketing Services">


                            <!--    <source media="(max-width: 480px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@480.gif">-->
                            <!--    <source media="(max-width: 768px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@768.gif">-->
                            <!--    <source media="(max-width: 991px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@991.gif">-->
                            <!--    <source media="(max-width: 1199px)" srcset="https://www.appynitty.com/assets/about-us/img/aboutus@1199.gif">        -->
                            <!--<img class="img img-responsive" src="https://www.appynitty.com/assets/about-us/img/aboutus.gif" alt="Digital Marketing Agency" title="Digital Marketing Services">-->
                        </picture>

                    </div>

                </div>
            </div>
        </div>
        <div class="half">
            <div class="right bg-appy">
                <div class="section">
                    <div>
                        <div class="top-text">
                            <h1 class="title">About Us</h1>
                            <h2 class="sub-title">Leading Mobile App Development and <br></span> Digital Marketing Services Company<!-- Leading Mobile App Development and <span class="l-b"><br></span> Digital Marketing Services Company --></h2>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="text-section" id="company">
        <div class="container">
            <div class="content">
                <p class="text">Established in April 2016, Appynitty Communications is a global product engineering and digital services company having forte in mobile application development. We are app experts across all industry verticals like automobile, real-estate, restaurants, hotels, tours and travels, education, salon &amp; spa, healthcare, fitness centre and many more.</p>

                <p class="text">We are expanding our horizon to provide our clients end-to-end digital marketing services to create formidable digital impressions through websites, social media marketing and search engine optimization while giving a boost to digital sales through lead generation campaigns.</p>
            </div>
        </div>
    </div>

    <!--<div id="founders">
        <div class="top-flex">
            <div class="half">
                <div class="left">
                    <div class="section">
                        <div class="content">
                            <div class="title">Our Founders</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="half">
                <div class="right">
                    <div class="section">
                        <div class="content">
                            <div class="title">
                                The company has been co-founded<br />
                                by siblings Aayuush &amp; Antaraa Daga.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="f-v-m-section">
            <div class="half">
                <div class="left">
                    <div class="section">
                        <div class="founders-section">
                            <div class="founders">
                                <div class="founder">
                                    <div class="top">-->
                                        <!-- <div class="f-img">
                                                               <img src="http://placehold.it/100x100" class="img img-circle">
                                                           </div> -->
                                        <!--<div class="f-name">
                                            <div class="name">Aayuush Daga</div>-->
                                            <!--<div class="desig">Co-Founder</div>-->
                                        <!--</div>
                                    </div>

                                    <div class="down">
                                        <div class="desc">An engineer, Aayuush is the company&#39;s technology expert and advisor. He brings in diversity and improvisations in cutting edge technical aspects in addition to strong managerial and operational skills. He is an avid reader, and research is just what he loves to do.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="half">
                <div class="right">
                    <div class="section">
                        <div class="founders-section">
                            <div class="founders">
                                <div class="founder">
                                    <div class="top">-->
                                        <!-- <div class="f-img">
                                                           <img src="http://placehold.it/100x100" class="img img-circle">
                                                       </div> -->
                                        <!--<div class="f-name">
                                            <div class="name">Antaraa Daga</div>-->
                                            <!--<div class="desig">Co-Founder</div>-->
                                        <!--</div>
                                    </div>

                                    <div class="down">
                                        <div class="desc">A Business Management graduate, Antaraa is vibrant and energetic and brings into the company her unique marketing and team building skills along with management expertise. Understanding ground operations of companies, field inputs &amp; management interactions are her strong forte.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="career-section" id="careers">
        <div class="top-flex">
            <div class="half">
                <div class="left">
                    <div class="section">
                        <div class="content">
                            <div class="title">Careers</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="half">
                <div class="right">
                    <div class="section">
                        <div class="content">
                            <div class="title">
                                <!--You can accomplish big<span class="l-b"><br></span>things at Appynitty-->At Appynitty You Don&rsquo;t Just Do a Job,<br />
                                You Accomplish Your Dreams!!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="content">
                <p class="text">Appynitty Communications is a rapidly expanding company and we welcome hard working and professional candidates across various departments. The growth and prosperity of our employees is of utmost importance to us and we therefore strive hard to maintain a conducive work environment and offer salary as per highest industry standards.</p>

                <p class="text">&nbsp;</p>

                <p class="text">Do drop in your Resume and we will <!-- <a href="#login-box" class="login-window"> -->get in touch with you!<!-- </a> --></p>
            </div>
        </div>
    </div>

    <!--ty popoup-->
    <div id="pics" style="display: block; margin-top: -228px; margin-left: -210.5px;">
        <img src="ty.jpg" width="300" height="300" id="picOne" />
    </div>
    <!--ty popoup-->


    <div class="contact-form-section">
        <div class="container">
            <div class="form-section">
                <div class="f-g-s">
                    <div class="email">
                        <a href="mailto:hr@appynitty.com" title="hr@appynitty.com">
                            <span class="icon ai-email"></span>
                            hr@appynitty.com
                        </a>
                    </div>
                </div>
                <div class="f-g-s">
                    <div class="mobile">
                        <a href="tel:+919209100900" title="Call Us +919209 100 900">
                            <span class="icon ai-call"></span>
                            +91 9209 100 900
                        </a>
                    </div>
                </div>
                <!-- <div class="f-g-s">
                    <div class="form-group">
                        <input class="form-control" placeholder="Upload your CV">
                    </div>
                </div>      -->
                <div class="f-g-s">
                    <div class="c-f-b">
                        <a href="#login-box" class="login-window"><button class="appy-btn">Upload Your CV</button> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!--modal-->
<style type="text/css">
    .btn-sign {
        width: 460px;
        margin-bottom: 20px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
        background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
        background: -o-linear-gradient(top, #00c6ff, #018eb6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
        text-align: center;
        font-size: 36px;
        color: #fff;
        text-transform: uppercase;
    }

        .btn-sign a {
            color: #fff;
            text-shadow: 0 1px 2px #161616;
        }

    #mask {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 999;
    }

    .login-popup {
        display: none;
        width: 384px;
        background: #fff;
        padding: 10px;
        border: 2px solid #ddd;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99999;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
    }

    img.btn_close {
        float: right;
        margin: -28px -28px 0 0;
    }

    fieldset {
        border: none;
    }

    form.signin .textbox label {
        display: block;
        /*padding-bottom:7px; */
    }

    form.signin .textbox span {
        display: block;
    }

    form.signin p, form.signin span {
        color: #999;
        font-size: 11px;
        line-height: 18px;
    }

    form.signin .textbox input {
        background: #fff;
        border-bottom: 1px solid #333;
        border-left: 1px solid #000;
        border-right: 1px solid #333;
        border-top: 1px solid #000;
        color: black;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font: 13px Arial, Helvetica, sans-serif;
        padding: 6px 6px 4px;
        width: 200px;
    }

    form.signin input:-moz-placeholder {
        color: #bbb;
        text-shadow: 0 0 2px #000;
    }

    form.signin input::-webkit-input-placeholder {
        color: #bbb;
        text-shadow: 0 0 2px #000;
    }

    .button {
        background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
        background: -webkit-gradient(linear, left top, left bottom, from(#3cbaba), to(#3cbaba));
        background: -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
        border-color: #000;
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #f4f4f4;
        cursor: pointer;
        display: inline-block;
        padding: 6px 6px 4px;
        margin-top: 10px;
        font: 12px;
        width: 214px;
    }
</style>
<div class="container">
    <div id="content">
        <div class="post">

            <div id="login-box" class="login-popup">
                <a href="#" id="close" class="close"><img src="/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                <form name="career" style="margin-left: 20px;" method="post" action="https://www.appynitty.com/index.php/AboutUs/careers" class="signin" enctype="multipart/form-data" id="form" onsubmit="return validateForm(event)">
                    <fieldset class="textbox" style="color: black;padding: 58px;">
                        <div class="modal-header" style="color: black;">
                            <strong>Help Us Contact You!</strong>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Name</label>
                                <div class="input-group col-xs-7">
                                    <input type="hidden" name="appname" value="about-us" id="appname" class="form-control" />
                                    <input type="text" name="name" id="name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Email</label>
                                <div class="input-group col-xs-7">
                                    <input type="email" name="email" id="email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Mobile No</label>
                                <div class="input-group col-xs-7">
                                    <input type="text" name="mob" id="mob" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">Upload Resume</label>
                                <div class="input-group col-xs-7">
                                    <p>File Format:doc| docx| pdf</p>
                                    <input type="file" name="userfile" id="userfile" class="form-control" placeholder="choose photo" />
                                    <!--<input type="file" name="userfile" id="location" class="form-control" />-->
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <!--<button class="button btn btn-default" type="button" id="close">Cancel</button>-->
                            <button class="button btn btn-primary" id="btnSave" type="submit">Submit</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!--for thank you image fadein-->
<style>
    #pics {
        display: none;
        /*background: #fff;
    box-shadow: 0px 0px 20px #999;
    border: 2px solid #ddd;
    */
        padding: 10px;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99999;
    }

    #picOne, #picTwo {
        position: absolute;
        display: none;
    }
</style>

