@{
    ViewData["Title"] = "E-Governance";
}


<div class="container">
    <h3 class="text-center mb-4 font-weight-bold">
        E-Governance- Reforming Government through technology
    </h3>

    <p>
        Electronic governance or e-governance refers to the use of information and communication technologies (ICT), such as the e-governance, wide area networks, mobile phones etc. to deliver services to citizens that have the ability to transform relations with clients, businesses, and other arms of government. By arrival of Information and Communication Technology (ICT) in the modern years has presented an opening for the central and state governments to change the way organizations control and leverage and value their information assets. E-Governance is a new way to govern processes in which ICT can play an active and significant role.
    </p>
    <p>
        Electronic governance or e-governance is adopted by countries across the world. In a fast-growing and demanding economy like India, e-governance has become essential.  The rapid growth of digitalization has led to many governments across the globe to introduce and incorporate technology into governmental processes. Electronic governance or e-governance can be defined as the usage of Information and Communication Technology (ICT) by the government to provide and facilitate government services, exchange of information, communication transactions and integration of various standalone systems and services.
    </p>
    <p>
        In most of the developing nations, due to the increase in population, solid waste management has become an issue. The district administration, municipal panchayats, town corporations are facing a big problem in managing the municipal solid waste management in a hygienic way. Various environmental audits are carried out by government to solve these problems in solid waste management. Here are at Appynitty we are proposing an idea of linking the problem with information and communication technology by a system that assists the solid waste management and monitors the waste management and dump bins using GIS. Our aim is to create an app for the e-Governance, for the municipal solid waste management and make India as one of the model nations to the world in converting the waste into wealth by using Application on Mobile.
    </p>
    <p>
        Mobile Application for E-Governing the system for municipal solid waste management. The waste bins and the waste dumping sites are monitored by using GIS and the vehicles which collecting the waste from the bins and waste dumping sites are monitored by using GPS. The outcome of these apps is it will be generating MIS reports in mobiles and proper tracking the waste management in the city. Monitoring the garbage for quick disposal. These App will be helpful for monitoring the solid waste management for developing countries like India and it will be a source additional income for the government of India. The system provides real time monitoring of waste collection through a mobile based application. The methodology is based on Global Positioning System (GPS) and Geographical Information System (GIS). These are used for accurate measurements and formulation of geographic data bases for the analysis purpose.
    </p>
    <p>
        The communication of ICT and government is re-invocation and create huge potentiality, efficient, effective, receptive and citizen-conversational information and services. A large number of e-government applications developed as pilots project were aimed at offering easy access to citizens services and improved processing of government to citizen transactions. The idea that the primary and the main object of ICT in e-governance and urban development is individuals motivation to collective mobilization for an integrated urban development.
    </p>
</div>