@{
    ViewData["Title"] = "Home Page";
}
@*umesh*@
<link href="~/css/first.css" rel="stylesheet" />
<link href="~/css/slick.css" rel="stylesheet" />
<link href="~/css/slick-theme.css" rel="stylesheet" />
<link href="~/css/index.css" rel="stylesheet" />
<link href="~/Assets/CSS/Product.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/animate/animate.min.css" />
<link href="~/Assets/CSS/Icon.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.appynitty.com/assets/realestateappy/js/realestateappy.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/27.1.0/jssor.slider.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.js"
        integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
        crossorigin="anonymous"></script>

<style>

      .jssorl-009-spin img {
animation-name: jssorl-009-spin;
animation-duration: 1.6s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@*@keyframes jssorl-009-spin {
from {
transform: rotate(0deg);
}

to {
transform: rotate(360deg);
}
}*@
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}



/* hide main hero */
#banner-1578323856968 {
  display: none;
}

/* section below video with the gif*/
#shopify-section-1576601151839 {
  position: relative;
}



</style>

@*Second Part*@






<section id="hero-bg-video">
    <div class="video-container">
        <div class="dark-overlay"></div>
        <video autoplay="" loop="" muted="">
            <source src="~/Assets/VLC2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay-desc">

            @*<h3 style="font-size:2.75rem;color:#fff">
           Innovating Technologies & Revolutionizing Waste Management
        </h3>*@
            <p></p>
            @*<div class="word"></div>*@

        </div>
    </div>
</section>


<div class="container py-2 mt-2">
    <div class="separator py-4">
        <div class="line"></div>
        <h2>
            Who We Are?
        </h2>
        <div class="line"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">
        <div>

            <picture>
                <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/img/who/whoweare@480.gif">
                <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/img/who/whoweare@768.gif">
                <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/img/who/whoweare@991.gif">
                <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/img/who/whoweare@1199.gif">
                <img class="img img-responsive" src="~/Assets/Images/Index/img/who/whoweare.gif" alt="Mobile Apps Development Company">
            </picture>
        </div>
        <div class="p-4 ml-5">
            @*<div class="appy-text" style="color: #525252;">*@
                <div class="appy-text">
                    <h4 class="font-weight-bolder mb-4" style="color:#000">  India's first Innovative Smart Waste Management Company</h4>
                    @*We are a leading Mobile App Development and
            Digital Marketing Services Company. We
            provide a wide range of cutting edge digital
            solutions to start-ups, SMEs as well as MNC and
            help them grow into smarter businesses of the
            future!*@
                    Appynitty is a Tech-Driven Innovative Company that provides sustainable and robust technological solutions for <b style="color:#000">Solid Waste Management (SWM).</b> Our technologies contribute immensely toward environmental protection and make the cities cleaner, greener and healthier.
                    Our expertise in developing and implementing real time monitoring & feedback software applications <b style="color:#000">through ICT, AI, Blockchain, IoT, and GIS technology</b> ensuring stringent waste collection, segregation, and reduction based on the Government of India guidelines

                </div>
                <div class="know-more mt-5">

                    <a href="/Home/AboutUs" class="btn px-3 py-2" style="background: #3cbaba;color:#fff;font-size:16px;font-weight:500"> About Us</a>

                </div>
            </div>
    </div>
</div>
<div class="container mt-3">
    <div class="separator py-4 mt-3">
        <div class="line"></div>

        <h2>
            Areas
            Of Activity
        </h2>
        <div class="line"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">
        <div class="mx-3 act" style="position:relative">
            <a href="/Home/Urban_Services">
                <h3 style="position: absolute; top: 21%; left: 24%;font-weight:bolder;color:#fff;text-align:center">Urban-<br />Services</h3>
                <img src="~/Assets/Images/Urban-Services.png" style="width:180px;height:266px;" />
                </a>
        </div>
        <div class="mx-3 act" style="position:relative">
            <a href="/Home/E_Governance">
                <h3 style="position: absolute; top: 28%; left: 8%;font-weight:bolder;color:#fff;text-align:center">E-Governance</h3>
                <img src="~/Assets/Images/E-Goverence.png" style="width:180px;height:266px;" />
            </a>
        </div>
        <div class="mx-3 act" style="position:relative">
            <a href="/Home/WasteManagement">
                <h3 style="position: absolute; top: 21%; left: 2%;font-weight:bolder;color:#fff;text-align:center">Waste Treatment</h3>
                <img src="~/Assets/Images/Waste_Treatment.png" />
                </a>
        </div>
    </div>
</div>
<div class="container py-3 mt-5">

    <div style="text-align: -webkit-center; background: #53cdcd" class="my-3 mb-5 mt-4">
        <h2 style="color: #fff; text-align:center;width:16%;font-weight:900">
            SERVICES
        </h2>
    </div>

    <div class="separator py-4">
        <div class="line"></div>
        <h2>
            Sustainable Waste Management Solutions
        </h2>
        <div class="line"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">
       
        <div class="p-4 ml-5">
            <div class="appy-text">
                @*<h4 class="font-weight-bolder mb-4" style="color:#000">  India's first Innovative Smart Waste Management Company</h4>*@
                We ensure stringent monitoring of door-to-door waste collections, source segregations and thereby creating sustainable and<b style="color:#000"> Garbage Free smart cities.</b> Our focus areas are Environment Consciousness, Environment & Solid Waste Management, Smart City solutions, E-Governance, and Environment & Technology. Our Sanctioned Projects are Successively Running in ULBs (Urban local bodies) like Municipal Corporation, Municipal councils, Nagar Parishad, Nagar Palika, Nagar Panchayat and Nagar Nigam.
            </div>
            <div class="know-more mt-5">

                <a href="/GovermentProject/index" class="btn px-3 py-2" style="background: #3cbaba;color:#fff;font-size:16px;font-weight:500"> know More</a>

            </div>
        </div>
    </div>


    

    <div class="separator py-4 pt-3 mt-3">
        <div class="line"></div>
        <h2>
            Mobile App
            Development Services
        </h2>
        <div class="line"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">

        <div class="p-4 mr-5">
            <div class="appy-text">

                We specialize in developing high quality native
                mobile apps for Android and iOS platforms. We
                work closely with businesses to develop
                customized mobile marketing solutions.
                Moreover, we are the only company in India to
                come up with sector specific mobile apps and to
                integrate them with cloud telephony systems.

            </div>
            <div class="know-more mt-5">

                <a href="/MobileApps/MobileApp" class="btn px-3 py-2" style="background: #3cbaba;color:#fff;font-size:16px;font-weight:500"> know more</a>

            </div>
        </div>
        <div>
            <picture>
                <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@768.gif">
                <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@991.gif">
                <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@1199.gif">
                <img class="img img-responsive" src="~/Assets/Images/Index/Mobileapps/app_development.gif" alt="Mobile Apps Development Company">
            </picture>
        </div>
    </div>





    <div class="separator py-4  pt-3 mt-3">
        <div class="line" style="background: #c09020"></div>
        <h2 style="color: #c09020">
            Lead Generation
            Campaigns
        </h2>
        <div class="line" style="background: #c09020"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">
        <div>
            <picture>
                <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@480.gif">
                <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@991.gif">
                <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@768.gif">
                <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@1199.gif">
                <img class="img img-responsive" src="~/Assets/Images/Index/Lead_Genration/lead_generation.gif" alt="Mobile Apps Development Company">
            </picture>
        </div>
        <div class="p-4 ml-5">
            <div class="appy-text">

                Investing in the right mix of various options
                available for online and offline lead generation
                to grow your business can be very challenging.
                So we have our team of expert researchers and
                marketers to ensure maximum ROI for your lead
                generation campaigns by providing services
                tailored to suit your business requirements.

            </div>
            <div class="know-more mt-5">


                <a href="/DigitalSolution/LeadGeneration" class="btn px-3 py-2" style="background: #c09020; color: #fff; font-size: 16px; font-weight: 500"> know more</a>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="separator py-4 mx-5 px-5">
        <div class="line" style="background: #f00"></div>
        <h2 style="color: #f00">
            YouTube Videos
        </h2>
        <div class="line" style=" background: #f00"></div>
    </div>

    <div class="scroll-arrow prev" id="scroll-left">

    </div>
    <ul id="imgList">
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/iyJTeIMttzA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/UogvASZ4VLg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/Vckk-3KQGqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/g5eZW8RKDYA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/va2qNMjXH68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/QZ7xBrIshYU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/_vetJnUt_7I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/glDpvh4xbaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/tpbZg4d1EwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>


    </ul>
    <div class="scroll-arrow next" id="scroll-right" onclick="scrollRight()">

    </div>
</section>

<script src="~/Assets/js/first.js"></script> 
<script src="~/js/slick.js"></script>
<script src="~/js/jquery.min.js"></script>
<script>
    var content = 'Innovating Technologies & Revolutionizing Waste Management';

    var ele = '<span>' + content.split('').join('</span><span>') + '</span>';


    $(ele).hide().appendTo('p').each(function (i) {
        $(this).delay(100 * i).css({
            display: 'inline',
            opacity: 0
        }).animate({
            opacity: 1
        }, 100);
    });


    //var words = [' Innovating Technologies & Revolutionizing Waste Management'],
    //    part,
    //    i = 0,
    //    offset = 0,
    //    len = words.length,
    //    forwards = true,
    //    skip_count = 0,
    //    skip_delay = 30,
    //    speed = 70;
    //var wordflick = function () {
    //    setInterval(function () {
    //        if (forwards) {
    //            if (offset >= words[i].length) {
    //                ++skip_count;
    //                if (skip_count == skip_delay) {
    //                    forwards = false;
    //                    skip_count = 0;
    //                }
    //            }
    //        }
    //        else {
    //            if (offset == 0) {
    //                forwards = true;
    //                i++;
    //                offset = 0;
    //                if (i >= len) {
    //                    i = 0;
    //                }
    //            }
    //        }
    //        part = words[i].substr(0, offset);
    //        if (skip_count == 0) {
    //            if (forwards) {
    //                offset++;
    //            }
    //            else {
    //                offset--;
    //            }
    //        }
    //        $('.word').text(part);
    //    }, speed);
    //};

    //$(document).ready(function () {
    //    wordflick();
    //});

   
    var imgList = document.getElementById('imgList');
    var scrollRight = document.getElementById('scroll-right');
    var scrollLeft = document.getElementById('scroll-left');

    // When a user clicks on the right arrow, the ul will scroll 750px to the right
    scrollRight.addEventListener('click', (event) => {
        if (window.matchMedia("(min-width: 780px)").matches) {
            /*  console.log("Screen width is at least 500px")*/
            imgList.scrollBy(1050, 0);
        } else {
            /*  console.log("Screen less than 500px")*/
            imgList.scrollBy(330, 0);
        }
        /*  imgList.scrollBy(300, 0);*/
    });

    // When a user clicks on the left arrow, the ul will scroll 750px to the left
    scrollLeft.addEventListener('click', (event) => {
        /* imgList.scrollBy(-300, 0);*/
        if (window.matchMedia("(min-width: 780px)").matches) {
            /* console.log("Screen width is at least 500px")*/
            imgList.scrollBy(-1050, 0);
        } else {
            /*  console.log("Screen less than 500px")*/
            imgList.scrollBy(-330, 0);
        }
    });



   


    jQuery(document).ready(function ($) {

        var options = {
            $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
            $AutoPlay: 1,                                       //[Optional] Auto play or not, to enable slideshow, this option must be set to greater than 0. Default value is 0. 0: no auto play, 1: continuously, 2: stop at last slide, 4: stop on click, 8: stop on user navigation (by arrow/bullet/thumbnail/drag/arrow key navigation)
            $Idle: 4000,                                        //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $PauseOnHover: 0,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

            $ArrowKeyNavigation: 1,   			                //[Optional] Steps to go for each navigation request by pressing arrow key, default value is 1.
            $SlideEasing: $Jease$.$OutQuint,                    //[Optional] Specifies easing for right to left animation, default value is $Jease$.$OutQuad
            $SlideDuration: 900,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide, default value is 20
            //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
            //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
            $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
            $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

            $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                $Orientation: 1                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
            },

            $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                $ChanceToShow: 2                                 //[Optional] Steps to go for each navigation request, default value is 1
            }
        };

        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizing
        function ScaleSlider() {
            var bodyWidth = document.body.clientWidth;
            if (bodyWidth)
                jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
            else
                window.setTimeout(ScaleSlider, 30);
        }
        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end
    });
</script>
