@{
    ViewData["Title"] = "Home Page";
}
@*umesh*@
<link href="~/css/first.css" rel="stylesheet" />
<link href="~/css/slick.css" rel="stylesheet" />
<link href="~/css/slick-theme.css" rel="stylesheet" />
<link href="~/css/index.css" rel="stylesheet" />
<link href="~/Assets/CSS/Product.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/animate/animate.min.css" />
<link href="~/Assets/CSS/Product.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/css/client.css" />*@
<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/fancybox/jquery.fancybox-1.3.4.css" />
<link href="~/Assets/CSS/Icon.css" rel="stylesheet" />
@*<script type="text/javascript" src="https://www.appynitty.com/assets/libs/jquery/1.7.2/jquery.min.js"></script>*@
<script type="text/javascript" src="https://www.appynitty.com/assets/libs/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/realestateappy/js/realestateappy.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.js"
        integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
        crossorigin="anonymous"></script>
@* <script type="text/javascript" src="https://www.appynitty.com/assets/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.appynitty.com/assets/realestateappy/js/realestateappy.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/fancybox/jquery.fancybox-1.3.4.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js" integrity="sha512-j7/1CJweOskkQiS5RD9W8zhEG9D9vpgByNGxPIqkO5KrXrwyDAroM9aQ9w8J7oRqwxGyz429hPVk/zR6IOMtSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://www.appynitty.com/assets/realestateappy/js/realestateappy.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
<style>
    .hoverable {
        cursor: default;
        color: #000;
        text-decoration: none;
        height: 500px;
        width: 600px;
    }

        .hoverable .hover {
            display: none;
            font-size: 50px;
        }

        .hoverable:hover .normal {
            display: none;
        }

        .hoverable:hover .hover {
            display: inline; /* CHANGE IF FOR BLOCK ELEMENTS */
        }


    .video {
        margin: 30px auto;
        position: relative;
        display: block;
    }

    .video {
        border-bottom: 5px solid transparent;
        border-image: linear-gradient(to right, #D04A02 20%, #FFB600 20%, #FFB600 40%, #E0301E 40%, #E0301E 60%, #EB8C00 60%, #EB8C00 80%, #D93954 80%, #D93954 100%);
        border-image-slice: 1;
        display: inline-flex;
        border-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        /* border-image-width: 3%;
        /*  margin-left: 65px;*/
    }
        .video:hover {
            box-shadow: 0px 20px 20px -10px #4e4e4e;
           /* transition: all 1.3s;
            transform: scale(1.1);*/
        }

    section {
        text-align: center;
        margin-top: 2.5%;
    }

    .scroll-arrow {
        width: 4%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        padding: 0;
        margin: 0;
        opacity: 0.5;
        font-size: 34px;
        transition: 0.2s;
    }

        .scroll-arrow:hover {
            transition: 0.2s;
            opacity: 1;
        }

    #imgList {
        width: 80%;
        scroll-behavior: smooth;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        text-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

        ul::-webkit-scrollbar {
            display: none;
        }

    .list {
        list-style: none;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 20%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        /*   filter: grayscale(100%);*/
        transition: 0.2s;
    }

    .list {
        width: 320px;
        transition: all 1.2s;
    }

    .list:hover {
        /* transition: 0.2s;*/
        /* filter: grayscale(0);*/
        transition: all 1.3s;
        transform: scale(1.1);
    }

    .prev::before {
        content: " ";
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
    }

    .next::before {
        content: " ";
        border-right: 2px solid #000;
        border-top: 2px solid #000;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
    }
</style>
<!--<div class="home-first-section">
    <div class="home-flex-section">

        <div class="home-flex right-white">

            <div class="half ">
                <div class="l-box">

                    <div class="l-box-section ">

                        <a href="javascript://" class="hoverable" style="text-decoration:none">
                            <div class="text">
                                <span class="normal"><br><br><br>	Your Digital <br>Marketing Strategist…<br>	<br></span>
                            </div>

                            <div class="text ">
                                <span class="hover">
                                    <br><br><br> 	We are App Experts across <br>All Verticals…<br>-->
                                    <!-- Creating Apps that Add<br> Real Value to your Business -->
                                <!--</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="r-box">
                    <div class="r-box-section">

                        <a href="javascript://" class="hoverable" style="text-decoration:none">
                            <div class="text">
                                <span class="normal"><br><br><br>Creating Apps that Add<br> Real Value to your Business </span>
                            </div>

                            <div class="text ">
                                <span class="hover"><br><br><br> Simplifying Digital Marketing<br> Challenges for You<br>	</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="color-section">
            <div class="color">
                <div class="left">
                </div>
                <div class="right ">
                </div>
            </div>
            <div class="mobile-section">
                <div class="mobile-box">
                    <div class="mobile">
                        <picture>
                            <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/img/top/home_phone@991.png">

                            <img src="~/Assets/Images/Index/img/top/home_phone.png" />
                        </picture>
                        <div class="screen">
                            <div class="sliderExample">
                                <div><img src="~/Assets/Images/Index/img/top/home_digitalsolution.png"></div>
                                <div><img src="~/Assets/Images/Index/img/top/home_mobileapp.png"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

@*Second Part*@


<div>
    <img src="~/Assets/Images/banner1.png"  style="width:100%;"/>
</div>


<div class="container py-3 mt-3">
    <div class="separator py-4">
        <div class="line"></div>
        <h2>
            Who We Are?
        </h2>
        <div class="line"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">
        <div>

            <picture>
                <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/img/who/whoweare@480.gif">
                <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/img/who/whoweare@768.gif">
                <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/img/who/whoweare@991.gif">
                <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/img/who/whoweare@1199.gif">
                <img class="img img-responsive" src="~/Assets/Images/Index/img/who/whoweare.gif" alt="Mobile Apps Development Company">
            </picture>
        </div>
        <div class="p-4 ml-5">
            <div class="appy-text">

                @*We are a leading Mobile App Development and
        Digital Marketing Services Company. We
        provide a wide range of cutting edge digital
        solutions to start-ups, SMEs as well as MNC and
        help them grow into smarter businesses of the
        future!*@
                Appynitty was founded to transform cities into innovative and waste-free environments.
                We have developed a comprehensive suite of products and services through ICT, IoT, GIS and AI technology that
                helps cities manage solid waste more efficiently. Our products and services are scalable and customizable,
                so they can be used in any city, regardless of size or resources.

            </div>
            <div class="know-more mt-5">

                <a href="/home/aboutus" class="btn px-3 py-2" style="background: #3cbaba;color:#fff;font-size:16px;font-weight:500"> About Us</a>

            </div>
        </div>
    </div>




    <div class="separator py-4 pt-3 mt-3">
        <div class="line"></div>
        <h2>
            Mobile App
            Development Services
        </h2>
        <div class="line"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">

        <div class="p-4 mr-5">
            <div class="appy-text">

                We specialize in developing high quality native
                mobile apps for Android and iOS platforms. We
                work closely with businesses to develop
                customized mobile marketing solutions.
                Moreover, we are the only company in India to
                come up with sector specific mobile apps and to
                integrate them with cloud telephony systems.

            </div>
            <div class="know-more mt-5">

                <a href="/mobileapps/mobileapp" class="btn px-3 py-2" style="background: #3cbaba;color:#fff;font-size:16px;font-weight:500"> know more</a>

            </div>
        </div>
        <div>
            <picture>

                <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@768.gif">
                <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@991.gif">
                <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@1199.gif">
                <img class="img img-responsive" src="~/Assets/Images/Index/Mobileapps/app_development.gif" alt="Mobile Apps Development Company">
            </picture>
        </div>
    </div>





    <div class="separator py-4  pt-3 mt-3">
        <div class="line" style="background: #c09020"></div>
        <h2 style="color: #c09020">
            Lead Generation
            Campaigns
        </h2>
        <div class="line" style="background: #c09020"></div>
    </div>
    <div class="d-flex justify-content-between flex-sm-row flex-column">
        <div>
            <picture>
                <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@480.gif">
                <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@991.gif">
                <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@768.gif">
                <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Lead_Genration/lead_generation@1199.gif">
                <img class="img img-responsive" src="~/Assets/Images/Index/Lead_Genration/lead_generation.gif" alt="Mobile Apps Development Company">
            </picture>
        </div>
        <div class="p-4 ml-5">
            <div class="appy-text">

                Investing in the right mix of various options
                available for online and offline lead generation
                to grow your business can be very challenging.
                So we have our team of expert researchers and
                marketers to ensure maximum ROI for your lead
                generation campaigns by providing services
                tailored to suit your business requirements.

            </div>
            <div class="know-more mt-5">


                <a href="/DigitalSolution/LeadGeneration" class="btn px-3 py-2" style="background: #c09020; color: #fff; font-size: 16px; font-weight: 500"> know more</a>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="separator py-4 mx-5 px-5">
        <div class="line"></div>
        <h2>
            Videos
        </h2>
        <div class="line"></div>
    </div>

    <div class="scroll-arrow prev" id="scroll-left">

    </div>
    <ul id="imgList">
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/iyJTeIMttzA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/UogvASZ4VLg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/Vckk-3KQGqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/g5eZW8RKDYA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"> <iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/va2qNMjXH68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/QZ7xBrIshYU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/_vetJnUt_7I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/glDpvh4xbaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="list"><iframe class="video" width="320" height="235" src="https://www.youtube.com/embed/tpbZg4d1EwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>


    </ul>
    <div class="scroll-arrow next" id="scroll-right" onclick="scrollRight()">

    </div>
</section>

<script src="~/Assets/js/first.js"></script>
<script src="~/js/slick.js"></script>
<script src="~/js/jquery.min.js"></script>
<script>


    var imgList = document.getElementById('imgList');
    var scrollRight = document.getElementById('scroll-right');
    var scrollLeft = document.getElementById('scroll-left');

    // When a user clicks on the right arrow, the ul will scroll 750px to the right
    scrollRight.addEventListener('click', (event) => {
        imgList.scrollBy(1070, 0);
    });

    // When a user clicks on the left arrow, the ul will scroll 750px to the left
    scrollLeft.addEventListener('click', (event) => {
        imgList.scrollBy(-1070, 0);
    });
</script>