@{
    ViewData["Title"] = "Urban Services";
}
<style>
    .separator {
        display: flex;
        align-items: center;
    }

        .separator .line {
            height: 2px;
            flex: 1;
            background-color: #3cbaba;
        }

        .separator h2 {
            padding: 0 2rem;
            color: #3cbaba;
        }
</style>
<div class="container">
    <div class="separator py-4 mb-5">
        <div class="line"></div>
        <h2>
            Urban Services
        </h2>
        <div class="line"></div>
    </div>
    <p>

        Cities are often defined by infrastructure, fast-paced lives, and efficient services. However, modern urban living places a strain on the natural resources that cities need to function effectively.

    </p>
    <p>
        Urban areas have higher densities of people, buildings, and activities than other areas. They also tend to have compact city centers with rapid transportation systems that connect people and businesses within the city as well as with other cities nearby.
    </p>
    <p>
        The characteristics of urban areas make them particularly vulnerable when it comes to managing waste. The problems associated with urban waste management are manifold, but solutions can be found through sustainable practices for handling everyday rubbish.
    </p>


    <p>
        These are some of the biggest challenges that urban waste management systems face:
    </p>

    <p>
        - First, and perhaps most importantly, is the sheer amount of waste that urban areas produce.
    </p>

    <p>
        - Second, the makeup of urban waste is different than the waste produced in rural areas. This is because urban areas contain a higher percentage of commercial/industrial and residential waste than rural areas.
    </p>

    <p>
        - Third, the population density in urban areas makes waste management significantly more challenging.
    </p>
    <p>
        The difficulty that cities encounter when dealing with waste management is the inability of municipal authorities to track the generation and disposal of urban waste. Additional problems arise as a result of inefficiency in policy in this area. Unfortunately, it's all of us who suffer from poor urban waste management. Population behavior is inappropriate in addition to poor policy, resulting in inefficient policy. Our water resources, natural habitats, and soil are contaminated every day by irregular disposal. Flooding and enormous risk to the urban population are among the consequences. This harms not only the environment but also public health. Waste collection is one of the most critical issues facing city municipalities. It is challenging to implement waste management economically with high performance.
    </p>
    <p>
        Here at Appynitty we have developed the technology for providing better urban services for waste management. These services includes:
    </p>
    <p>
        •	municipal waste services
    </p>
    <p>
        •	Street Sweeping
    </p>
    <p>
        •	management of landscaped areas.
    </p>
</div>
