@{
    ViewData["Title"] = "Waste Management";
}
<style>
    .separator {
        display: flex;
        align-items: center;
    }

        .separator .line {
            height: 2px;
            flex: 1;
            background-color: #3cbaba;
        }

        .separator h2 {
            padding: 0 2rem;
            color: #3cbaba;
        }

</style>
<div class="container">
    <div class="separator py-4 mb-5">
        <div class="line"></div>
        <h2>
            WASTE MANAGEMNET
        </h2>
        <div class="line"></div>
    </div>
    <p>

        In Indian cities, solid waste management is analyzed for environmental and financial sustainability. The amount of municipal solid waste is rising, as is the amount of biodegradable (wet) waste, the amount of plastic in waste, and the volume of mixed dry waste. The present system collects and transports unsorted waste. Resource recovery and safe disposal of residual waste are majorly neglected in landfills. Landfills are now technologically equipped for safe waste management and disposal, but the ability to plan and manage the system and enforce the rules is a major hurdle.

    </p>
    <p>
        The strategy for managing waste must start with the proper segregation of solid waste at the generation source. Waste is treated and processed in different ways to reduce the amount of residual waste that goes to landfills, thereby reducing the amount of waste generated. Solid waste management principles are being better understood and discussed in public domains, but no Indian city has achieved a comprehensive solution to solid waste management challenges. Consumers in Indian cities have not yet adapted to the process of segregating organic and biodegradable waste from other waste at the source of generation.
    </p>
    <p>
        Solid waste management should adhere to the principles of reduction, recycling, and resource recovery in order to keep wet waste and dry waste separate and prevent them from contaminating the environment. The residual waste should then be disposed of in such a manner as to isolate the non-recoverable waste and other contaminants and avoid harming the environment.
    </p>


    <div style="text-align: -webkit-center;" class="my-3">
        <h2 style="color: #008585; border-left: 2px solid #008585; border-right: 2px solid #008585;text-align:center;width:65%;">
            Waste Management Crisis in India- Challenges
        </h2></div>
        <div class="separator py-4 mb-5">
            <div class="line"></div>
            <h2>
                Waste segregation:
            </h2>
            <div class="line"></div>
        </div>
        <p>
            Waste segregation is the first step in waste management. In order to facilitate waste management, waste needs to be segregated into bio-degradable or non-biodegradable waste. Alternatively, waste can also be divided into plastics, glass and organic or food waste. However, very few households divide their waste.  A part of the problem emerges from the fact that there is no segregation of waste at source.  That is why we have developed technology to get these things done in effective manner. Segregation of waste leads to better waste management.
        </p>
        <div class="separator py-4 mb-5">
            <div class="line"></div>
            <h2>
                Solid waste disposal:
            </h2>
            <div class="line"></div>
        </div>
        <p>
            Disposal of waste is another problematic area. Residents often complain that the collection and disposal of waste are not done regularly. The problem is particularly grave in both rural and semi-urban areas. Municipalities are often short-staffed. Therefore, they cannot dispose of waste as regularly as possible.
        </p>
        <div class="separator py-4 mb-5">
            <div class="line"></div>
            <h2>
                Lack of capacity:
            </h2>
            <div class="line"></div>
        </div>
        <p>
            Landfills in urban areas are already filled to the brim. There is no proper waste treatment sometimes and these untreated waste leads to various kinds of illnesses in the neighboring population and increasing pollution.
        </p>
        <div class="separator py-4 mb-5">
            <div class="line"></div>
            <h2>
                The Surveillance of Daily Garbage Collection:
            </h2>
            <div class="line"></div>
        </div>
        <p>
            Garbage collection is an essential service for the majority of people. Yet, it’s a field that faces a lot of challenges and hazards. The process involves several different types of vehicles, including large trucks and smaller vehicles to collect waste from residential properties. But there is no proper monitoring of the entire process. Which is where the country is lagging.
        </p>
        <p>
            Managing waste properly is essential for building sustainable and livable cities, but it remains a challenge for many developing countries and cities. Effective waste management is expensive, often comprising. Operating this essential municipal service requires integrated systems that are efficient, sustainable, and socially supported.
        </p>
        <h5 class="font-weight-bolder mb-5">
            Our aim is to provide helpful provisions to solve the concerns of waste management system with the help of the latest technology trends that can track all the data right from collection to disposal in a systematic manner.
        </h5>
    </div>
