@model IEnumerable<AppynittyWebApp.Models.Blog>

@{
    ViewData["Title"] = "OutBlog";
}


<div class="container">
    <div class="content">
        <h2 class="title"> Our Blog</h2>
    </div>
</div>
<div class="container">


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="blog-box">
                <div class="col-md-4">
                    <div class="top-section">
                        <div class="top">
                            <div class="img-box">
                                <div class="blog-image">
                                    <!-- <img src="http://placehold.it/80x80" class="img img-circle">-->
                                </div>
                            </div>
                            <div class="name-box">
                                <div class="name">
                                  @item.BlogsTitle
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-section">
                        <div class="bottom">
                            <div class="read-more">
                                <div class="text"><a asp-action="BlogSection" asp-route-id="@item.Id">>Read Article</a></div>
                            </div>
                            <div class="share">
                                <div class="share-section">
                                    <div class="blog-social animated slideInRight">
                                        <div class="fb icon ai-facebook"></div>
                                        <div class="tw icon ai-twitter"></div>
                                        <div class="ln icon ai-linkedin"></div>
                                        <div class="gp icon ai-google-plus"></div>
                                        <div class="yt icon ai-youtube"></div>
                                    </div>
                                    <div class="blog-social-share ">
                                        <div class="icon ai-share animated zoomIn"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>



    </div>