/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
/* // bottom: 0;*/
  width: 100%;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
}
ul li a {
    font-size: 12px;
    font-weight: 600
}

   /* ul li :hover {
        background: #3cbaba !important;
    }*/
a.text-dark:hover {
    color: #ffffff !important;
}

.appy-text {
    font-size: 18px;
    font-weight:600;
    line-height:1.8;
    text-align:justify;
}

.footer-box {
    background: #1B2D39;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 10px;
}
.list-unstyled a {
    color: white;
    text-decoration: none;
    font-size:14px;
}
    .list-unstyled a:hover {
        background: #1B2D39!important;
    }
footer h5 a{
    color: white;
}
footer h5 a:hover {
    color: white !important;
}
.f-box {
    border-right: 2px solid #9d9999b0;
    padding-right: 3%;
}
@media screen and (max-width: 500px) {
    .foot {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        white-space:normal
    }
    .f-box{
        padding-right:1%;
    }
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#pics {
    display: none;
    /*background: #fff;
    box-shadow: 0px 0px 20px #999;
    border: 2px solid #ddd;
    */
    padding: 10px;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
}

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup {
    display: none;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}
/*html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}*/

/*body {
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
    position: relative;
    overflow-x: hidden;
}*/

/* Demo CSS */
/*body {
    background: #fff;
    padding: 50px;
    background: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1920) no-repeat center center/cover;
}

    body header {
        margin-bottom: 50px;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
    }

        body header .navbar {
            border-radius: 6px;
        }
*/
/*@media (min-width: 1300px) {
    body header,
    body main {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

/* Nav doc CSS */
.navbar-doc table {
    border-collapse: collapse;
    width: 100%;
    background: transparent;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

    .navbar-doc table tr th,
    .navbar-doc table tr td {
        text-align: left;
        padding: 15px;
    }

    .navbar-doc table tr:nth-child(odd) th,
    .navbar-doc table tr:nth-child(odd) td {
        background: #f0f5f7;
    }

    .navbar-doc table tr:nth-child(even) td {
        background: #e9f0f3;
    }

    .navbar-doc table tr:first-child th:first-child {
        border-top-left-radius: 5px;
    }

    .navbar-doc table tr:first-child th:last-child {
        border-top-right-radius: 5px;
    }

    .navbar-doc table tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    .navbar-doc table tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    .navbar-doc table tr:not(:first-child) {
        border-top: 1px solid #e5ecef;
    }

.navbar-doc code {
    background: #aed2f5;
    border-radius: 3px;
    color: #000000;
    line-height: 1;
    font-size: 1.2rem;
    padding: 1px 4px;
}

.navbar-doc p {
    font-size: 1.4rem;
    line-height: 1.5;
}

/* Main CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: relative;
    transition: 0.3s linear;
}

    .navbar ul {
        list-style: none;
    }

        .navbar ul a {
            text-decoration: none;
        }

    .navbar .navbar-toggler,
    .navbar .nav-link,
    .navbar .utils-search {
        /*color: #525252;*/
        color: #212529;
    }

    .navbar .navbar-utils > * {
        cursor: pointer;
    }

    .navbar .btn-search {
        font-size: 1.5rem;
        background: transparent;
        outline: none;
        border: none;
        color: inherit;
        cursor: pointer;
    }

.navbar-nav {
    display: flex !important;
    list-style: none;
    flex-direction:row;
}

    .navbar-nav .nav-link {
        padding: 5px;
        text-decoration: none;
       /* font-size: 0.9em;*/
       font-size:1em;
        font-weight: 600;
        display: block;
        transition: 150ms ease;
    }

    .navbar-nav .nav-item {
       /* margin: 0 10px;*/
       margin: 0 20px;
        position: relative;
    }

    .navbar-nav > .nav-item:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
       /* background: #0081ff;*/
        background: #3cbaba;
        /* bottom: -16px;*/
        bottom:-6px;
        transition: 400ms ease;
        transform: scaleX(1.5);
        opacity: 0;
    }

    .navbar-nav > .nav-item:hover:after {
        transform: scaleX(1);
        opacity: 1;
    }

    /*.navbar-nav > .active:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;*/
        /* background: #0081ff;*/
        /*background: #3cbaba;*/
        /* bottom: -16px;*/
        /*bottom: -6px;
        transition: 400ms ease;
        transform: scaleX(1.5);
        opacity: 0;
    }*/

    .navbar-nav > .active:after, .nav-item .dropdown > .active {
        transform: scaleX(1);
        opacity: 1;
    }
.navbar-toggler {
    padding: 0.1rem 0.45rem;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    outline: none;
    border: 1px solid #636363;
    border: none;
    border-radius: 3px;
    transition: 0.15s linear;
    display: none;
    margin-left: auto;
    margin-right: 20px;
}

    .navbar-toggler:hover, .navbar-toggler:focus {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.36);
    }

/* Navbar options (bg options) */
.bg-white {
    background: #fff;
    z-index: 99999;
}
.bg-primary {
    background: #0081ff;
    z-index: 99999;
}

    .bg-primary .navbar-toggler,
    .bg-primary .nav-link,
    .bg-primary .utils-search {
        color: #1B2D39;
    }

    .bg-primary .nav-item:after {
        background: #fff;
    }

.bg-dark {
    background: #363636;
}

    .bg-dark .navbar-toggler,
    .bg-dark .nav-link,
    .bg-dark .utils-search {
        color: #fff;
    }

.bg-light {
    background: #fff;
    z-index: 9999;
}

    .bg-light .navbar-toggler,
    .bg-light .nav-link,
    .bg-light .utils-search {
        color: #363636;
    }

.bg-transparent {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/4492129/pexels-photo-4492129.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1920);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

    .bg-transparent .navbar-toggler,
    .bg-transparent .nav-link,
    .bg-transparent .utils-search {
        color: #fff;
    }

    .bg-transparent .nav-item:after {
        background: #fff;
    }

@media (min-width: 992px) {
    .bg-blur {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        background: rgba(255, 255, 255, 0.6);
        z-index: 999;
    }

        .bg-blur .navbar-toggler,
        .bg-blur .nav-link,
        .bg-blur .utils-search {
            color: #363636;
        }

        .bg-blur .nav-item:hover > .nav-link {
            color: #0081ff;
        }

        .bg-blur .nav-item:after {
            background: #0081ff;
        }
}
/* Common Hover */
.bg-blur .nav-item:hover > .nav-link {
    color: #0081ff;
}

.bg-blur .nav-item:after {
    background: #0081ff;
}

.bg-light .nav-item:hover > .nav-link,
.bg-light-2 .nav-item:hover > .nav-link,
.bg-dark .nav-item:hover > .nav-link {
    color: #0081ff;
}

.bg-light .nav-item:after,
.bg-light-2 .nav-item:after,
.bg-dark .nav-item:after {
    background: #0081ff;
}

.bg-light-2 {
    background: #fff;
}

    .bg-light-2 .navbar-toggler,
    .bg-light-2 .nav-link,
    .bg-light-2 .utils-search {
        color: #636363;
    }

    .bg-light-2 .nav-item:after {
        display: none;
    }

/* Dropdown CSS */
.nav-item .dropdown {
    width: 165px;
    display: block;
    position: absolute;
   /* top: 35px;*/
   top:45px;
    transition: 300ms;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 4px;
    z-index: 999;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.15);
}

    .nav-item .dropdown .nav-link {
        color: #636363;
    }

    .nav-item .dropdown .dropdown {
        top: 0;
        left: calc(100% + 15px);
        border-top: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
    }

        .nav-item .dropdown .dropdown:before {
            top: 10px;
            left: -10px;
            border: 5px solid transparent;
            border-right-color: #000;
        }

    .nav-item .dropdown:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 10px;
        border: 5px solid transparent;
        border-bottom-color: #000;
        display: none;
    }

    .nav-item .dropdown .nav-item:not(:last-child) {
        margin-bottom: 1px;
    }

    .nav-item .dropdown > .nav-item:hover > .nav-link {
        /*  color: #0081ff;*/
        color: #3cbaba;
    }
    .nav-item .dropdown > .active > .nav-link {
        /*  color: #0081ff;*/
        color: #3cbaba;
    }
.nav-item:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.nav-item:hover > a::before {
    transform: rotate(90deg);
}

.nav-close {
    margin-left: auto;
    margin-top: 10px;
    display: none;
}

    .nav-close .btn-nav-close {
        border: 0;
        outline: 0;
        background: transparent;
        font-size: 2.5rem;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid #363636;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .nav-close .btn-nav-close .close-btn {
            transform: rotate(45deg);
        }

        .nav-close .btn-nav-close:hover, .nav-close .btn-nav-close:focus {
            background: #ff00001c;
            color: #fff;
        }

.nav-item.icon > a:before {
    content: "";
    position: absolute;
    right: -10px;
    top: calc(50% + 0px);
    transform: translateY(-50%);
    border: 4px solid transparent;
    border-left-color: inherit;
    transition: 0.15s linear;
}

.nav-item.icon:hover > a::before {
    transform: rotate(90deg);
}

/* Responsive (navbar alignments options) */
@media (min-width: 992px) {
    .navbar-brand,
    .navbar-utils {
        flex: auto;
    }

    .navbar-nav {
        flex: 3;
        justify-content: center;
    }

    .navbar-utils {
        text-align: right;
    }

    .navbar-right .navbar-brand,
    .navbar-right .navbar-utils {
        flex: initial;
    }

    .navbar-right .navbar-nav {
        justify-content: flex-end;
        margin-right: 20px;
    }

    .navbar-left .navbar-nav {
        order: 1;
        justify-content: flex-start;
    }

    .navbar-left .navbar-brand {
        order: 2;
    }

    .navbar-left .navbar-utils {
        order: 3;
    }

    .navbar-right .dropdown .dropdown {
        left: unset;
        right: calc(100% + 20px);
        border-top: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
}
/* Nav Option (Logo Center) */
@media (min-width: 992px) {
    .navbar-left .navbar-brand {
        text-align: right;
    }

    .navbar-left .navbar-toggler {
        display: block;
        margin-right: 0;
    }

    .navbar-left .navbar-nav {
        background: #ffffff;
        flex-direction: column;
        z-index: 99999;
        padding: 0 20px;
        opacity: 0;
        transition: 400ms ease;
        /* Sidebar */
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        overflow-y: auto;
        box-shadow: 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
        transform: translateX(-300px);
    }

        .navbar-left .navbar-nav .nav-link {
            margin: 10px 0;
            color: #636363;
            display: flex;
            align-items: center;
        }

        .navbar-left .navbar-nav > .nav-item:first-child {
            margin-top: 20px;
        }

        .navbar-left .navbar-nav > .nav-item:last-child {
            margin-bottom: 20px;
        }

        .navbar-left .navbar-nav .nav-item:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .navbar-left .navbar-nav .nav-item:hover > .nav-link {
            color: #0081ff;
        }

        .navbar-left .navbar-nav > .nav-item:after {
            display: none;
        }

        .navbar-left .navbar-nav .nav-close {
            display: block;
        }

        .navbar-left .navbar-nav.active {
            max-height: initial;
            opacity: 1;
            transform: translateX(0);
            left: 0;
            box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
        }

    .navbar-left .nav-item .dropdown {
        padding: 0;
        position: initial;
        max-height: 0;
        width: initial;
        border: none;
        box-shadow: none;
    }

        .navbar-left .nav-item .dropdown .dropdown {
            border: none;
        }

        .navbar-left .nav-item .dropdown:before {
            display: none;
        }

    .navbar-left .nav-item:hover > .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        max-height: initial;
    }

    .navbar-left .nav-item.icon a:before {
        top: unset;
        right: 0;
    }
}
/* Responsive navbar */
@media (max-width: 991px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        background: #ffffff;
        flex-direction: column;
        z-index: 99999;
        padding: 0 20px;
        opacity: 0;
        transition: 400ms ease;
        /* Sidebar */
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        overflow-y: auto;
        transform: translateX(-300px);
    }

        .navbar-nav .nav-link {
            margin: 10px 0;
            color: #636363;
            display: flex;
            align-items: center;
        }

        .navbar-nav > .nav-item:first-child {
            margin-top: 20px;
        }

        .navbar-nav > .nav-item:last-child {
            margin-bottom: 20px;
        }

        .navbar-nav .nav-item:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .navbar-nav .nav-item:hover > .nav-link {
            color: #0081ff;
        }

        .navbar-nav > .nav-item:after {
            display: none;
        }

        .navbar-nav .nav-close {
            display: block;
        }

        .navbar-nav.active {
            max-height: initial;
            opacity: 1;
            transform: translateX(0);
            left: 0;
            box-shadow: 0px 0px 0 10000px rgba(0, 0, 0, 0.5);
        }

    .nav-item .dropdown {
        padding: 0;
        position: initial;
        max-height: 0;
        width: initial;
        border: none;
        box-shadow: none;
    }

        .nav-item .dropdown .dropdown {
            border: none;
        }

        .nav-item .dropdown:before {
            display: none;
        }

    .nav-item:hover > .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        max-height: initial;
    }

    .nav-item.icon a:before {
        top: unset;
        right: 0;
        transform: translateY(0px);
    }
}
/* Search Popup */
.search-popup {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    transition: 200ms;
}

    .search-popup.active {
        opacity: 1;
        visibility: visible;
    }

        .search-popup.active form {
            transform: translateY(0px);
        }

    .search-popup form {
        position: absolute;
        background: #fff;
        width: 500px;
        height: 200px;
        display: grid;
        place-items: center;
        padding: 30px;
        border-radius: 6px;
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
        transition: 300ms;
        transform: translateY(20px);
    }

    .search-popup .btn-search-close {
        position: absolute;
        top: 5px;
        right: 5px;
        background: transparent;
        border: 0;
        outline: 0;
        font-size: 3rem;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .search-popup .btn-search-close .close-btn {
            transform: rotate(45deg);
        }

    .search-popup input[type=search] {
        width: 100%;
        height: 70px;
        border: none;
        outline: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 2rem;
        font-weight: 300;
        padding: 0px 10px;
        transition: 100ms;
    }

        .search-popup input[type=search]:focus {
            box-shadow: 0 0 0 3px rgba(0, 129, 255, 0.43);
            border-color: transparent;
        }

        .search-popup input[type=search]::-webkit-input-placeholder {
            color: #b3b3b3;
        }

@media (max-width: 576px) {
    .search-popup form {
        width: calc(100% - 30px);
        height: 170px;
        padding: 15px;
    }
}