/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
/* // bottom: 0;*/
  width: 100%;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
}
ul li a {
    font-size: 12px;
    font-weight: 600
}

   /* ul li :hover {
        background: #3cbaba !important;
    }*/
a.text-dark:hover {
    color: #ffffff !important;
}

.appy-text {
    font-size: 1.25rem;
    font-weight:400;
    line-height:1.8;
    text-align:justify;
}

.footer-box {
    background: #1B2D39;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 10px;
}
.list-unstyled a {
    color: white;
    text-decoration: none;
    font-size:14px;
}
    .list-unstyled a:hover {
        background: #1B2D39!important;
    }
footer h5 a{
    color: white;
}
footer h5 a:hover {
    color: white !important;
}

@media screen and (max-width: 500px) {
    .foot {
        display: none !important;
    }
}