@model AppynittyWebApp.Models.News
@*@model IEnumerable<AppynittyWebApp.Models.News>*@

@{
    ViewData["Title"] = "NewSection";
}
<style>
    .newttl {
        list-style-type: none;
    }
</style>


<div>
    <h1 style="margin-left:46%">News</h1>


    <hr />
    <dl class="row">
        <dd class="col-sm-8">
            <h4> @Html.DisplayFor(model => model.NewsTitle)</h4>
            @Html.DisplayFor(model => model.NewsEng)
        </dd>
        @{
            var obj = ViewBag.newslist;
        }
        <dd class="col-sm-4">
            <h4>Other News</h4>
            <ul>
                @foreach (var item in obj)
                {


                    <li class="newttl">
                        <a asp-action="NewSection" asp-route-id="@item.Id">@item.NewsTitle</a>

                    </li>



                }
            </ul>
        </dd>
        </dl>
     
            <div class="contact-form-section">
                <div class="container">
                    <div class="content">
                        <div class="title">
                            <h6>LEAVE A REPLY</h6>
                        </div>
                    </div>
                </div>
                <div class="container">
               

                        <div class="form-section">

                            <div class="f-g-s">
                                <div class="form-group">
                                    <input class="form-control" name="inputid" value="2" type="hidden">
                                    <input class="form-control" name="name" placeholder="Name" type="text">
                                </div>
                            </div>
                            <div class="f-g-s">
                                <div class="form-group">
                                    <input class="form-control" name="email" placeholder="Email Id" type="email">
                                </div>
                            </div>
                            <div class="f-g-s">
                                <div class="form-group">
                                    <input class="form-control" name="phone" placeholder="Phone" type="tel">
                                </div>
                            </div>
                            <div class="f-g-s" style="width: 800px;">
                                <div class="form-group">
                                    <textarea class="form-control" name="comment" style="height:200px;" placeholder="Comment.."> Comment.. </textarea>
                                </div>
                            </div>
                            <div class="f-g-s">
                                <div class="c-f-b">
                                    <button onClick="insertRecord()" class="appy-btn">Submit Message</button>
                                </div>
                            </div>
                        </div>
                </div>
               
            </div>

</div>
	
        
   
