
@{
    ViewData["Title"] = "Beauty";
}

<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/fancybox/jquery.fancybox-1.3.4.css" />
<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/animate/animate.min.css" />
<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/slick/css/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/libs/slick/css/slick.css" />
<link href="~/Assets/CSS/Product.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://www.appynitty.com/assets/css/client.css" />

<link href="~/Assets/CSS/Icon.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.appynitty.com/assets/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/libs/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/realestateappy/js/realestateappy.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/libs/slick/js/slick.js"></script>
<script type="text/javascript" src="https://www.appynitty.com/assets/js/client.js"></script>
<style>

.clients-box .bg-appy,
.list-section .list .c-icon.active_icon,
.list-section .list .c-icon:hover,
.product-blog .blog .top-section,
.view-more .appy-btn,
.package-cover .package .package-btn .appy-btn,
.r-m-a-main .down-btn .appy-btn,
.bg-appy,
.bt-clr{
    background: #4DB04F;
}
.arrow-color{
    color:#4DB04F;
}
.bt-clr{

}
.blog .yt, .blog .ln, .blog .gp, .blog .tw, .blog .fb,
.list-section .list .c-icon,
.list-section .list .c-icon,
.package-cover .package .amt{
    color:#4DB04F;
}
.list-section .list .c-icon{
    border: 1px solid #4DB04F;
}
.blog-social-share{
    background: #4DB04F;
}
/*.m-icon .icon{
    color: #EEEEEE !important;
}
*/

/*
    @*@media(min-width:1199px) {
    .padd-dwn-71{
    padding-top: 43px;
    }
}*/
@media(min-width:1920px) {
  .biderectioanlArrowA {
    position: relative !important;
    top: -32px;
    left: 355px !important;
    margin: 0 auto;
}*@

.biderectioanlArrow {
    position: relative !important;
    /* top: -73px; */
    left: 294px !important;
    margin: 0 auto;
}
.share1920{
    margin: 0;
    margin-bottom: 53px !important;
}
.image1920{
   height: 296px !important;
}
}

</style>
<input type="hidden" id="product-url" data-url="https://www.appynitty.com/new_product/screen/5" data-name="Beauty Appy">
<section class="r-m-a-main">
    <div class="product-flex">
        <div class="half ">
            <div class="left">
                <div class="section">
                    <div class="product-logo">
                        <a href="mobile-app-salons-spa.html" title="Beauty App">
                            <img class="img img-responsive" src="/Assets/Images/beautyappy/beautyappy_logo.png" alt="Beauty App" />
                        </a>
                    </div>
                    <div class="product-intro" style="margin-bottom: 46px;">
                        <picture>
                            <source media="(max-width: 480px)" srcset="/Assets/Images/beautyappy/beautyappy@480.gif">
                            <source media="(max-width: 768px)" srcset="/Assets/Images/beautyappy/beautyappy@768.gif">
                            <source media="(max-width: 991px)" srcset="/Assets/Images/beautyappy/beautyappy@1199.gif">
                            <source media="(max-width: 1420px)" srcset="/Assets/Images/beautyappy/beautyappy@1199.gif">
                            <img class="img img-responsive image1920" src="/Assets/Images/beautyappy/beautyappy.gif" alt="Beauty App" title="Beauty App" />
                        </picture>
                    </div>
                    <div class="download">
                        <div class="text">
                            Click here to<span class="l-b"><br></span> download Presentation
                        </div>
                        <div class="down-btn">
                            <a href="/Assets/Images/beautyappy/beautyappy_presentation.pdf" title="Beauty App" alt="Beauty App" target="_blank"><button class="appy-btn">DOWNLOAD<span class="icon ai-download"></span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="right bg-appy">
                <div class="section">
                    <div class="share-icon-section">
                        <!-- <a href="" title=""><div class="icon ai-share-with-circle"></div></a> -->
                        <div class="share-icon-box">
                            <div class="share">
                                <div class="share-section">
                                    <div class="blog-social animated slideInRight">
                                        <i class="fb icon ai-facebook" data-social="fb"></i>
                                        <i class="tw icon ai-twitter" data-social="tw"></i>
                                        <i class="gp icon ai-google-plus" data-social="gp"></i>

                                    </div>
                                    <a class="product-link" href="mobile-app-salons-spa.html" title="Beauty App"></a>
                                    <div class="blog-social-share ">
                                        <div class="icon ai-share-with-circle animated zoomIn"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="text-section">
                        <div class="top-text">
                            <h1 class="title">Mobile App for<span class='l-b'><br></span>Salon & Spa</h1>
                            <p class="sub-title">Pamper your customers with your<span class='l-b'><br></span>very own mobile app to grow <span class='l-b'><br></span>your Spa & Salon business!</p>
                        </div>
                    </div>
                    <div class="button-section">
                        <div class="ask-for-quote-btn">
                            <p class="text"><a href="#login-box" class="appy-btn login-window">Let's Get In Touch !</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--for thank you image fadein-->
    <style>
        #picOne, #picTwo {
            position: absolute;
            display: none;
        }
    </style>
    <!-- ty popoup -->
    <div id="pics" style="display: block; margin-top: -228px; margin-left: -300.5px; opacity: 1; visibility: visible;">
        <img src="../ty.jpg" id="picOne" />
    </div>
    <!--ty popoup-->

    <div class="product-f-section">
        <div class="container">
            <div class="content">
                <h2 class="title">Product Features</h2>
            </div>
        </div>
        <div class="container">
            <div class="product-features">

                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/mobileappcontactcenter5.gif' src='/Assets/Images/beautyappy/mobileappcontactcenter5.png' alt='MOBILE APP + CONTACT CENTER' title="MOBILE APP + CONTACT CENTER'"></div>
                    <h2 class="title">MOBILE APP + CONTACT CENTER</h2>
                    <div class="desc">Self branded mobile app with integrated contact center to mobilize your Spa & Salon business.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/pushnotifications5.gif' src='/Assets/Images/beautyappy/pushnotifications5.png' alt='PUSH NOTIFICATIONS' title="PUSH NOTIFICATIONS'"></div>
                    <h2 class="title">PUSH NOTIFICATIONS</h2>
                    <div class="desc">Accelerate business revenues by sending dynamic promotions and discount offers through highly targeted and free push notifications.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/portfolioshowcase5.gif' src='/Assets/Images/beautyappy/portfolioshowcase5.png' alt='PORTFOLIO SHOWCASE' title="PORTFOLIO SHOWCASE'"></div>
                    <h2 class="title">PORTFOLIO SHOWCASE</h2>
                    <div class="desc">Showcase your spa & salon ambience, treatments and introduce your experts with HD images and videos!</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/googlemapsintegration5.gif' src='/Assets/Images/beautyappy/googlemapsintegration5.png' alt='GOOGLE MAPS INTEGRATION' title="GOOGLE MAPS INTEGRATION'"></div>
                    <h2 class="title">GOOGLE MAPS INTEGRATION</h2>
                    <div class="desc">Help your clients easily locate and navigate to your nearest outlet.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/onlinepaymentgateway5.gif' src='/Assets/Images/beautyappy/onlinepaymentgateway5.png' alt='ONLINE PAYMENT GATEWAY' title="ONLINE PAYMENT GATEWAY'"></div>
                    <h2 class="title">ONLINE PAYMENT GATEWAY</h2>
                    <div class="desc">Drive online sales and appointment booking with seamless net banking, e-wallets and card payments integration.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/socialmediaintegration5.gif' src='/Assets/Images/beautyappy/socialmediaintegration5.png' alt='SOCIAL MEDIA INTEGRATION' title="SOCIAL MEDIA INTEGRATION'"></div>
                    <h2 class="title">SOCIAL MEDIA INTEGRATION</h2>
                    <div class="desc">Encourage your app users to be your social media followers and enhance your social branding.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/offlineavailability5.gif' src='/Assets/Images/beautyappy/offlineavailability5.png' alt='OFFLINE AVAILABILITY' title="OFFLINE AVAILABILITY'"></div>
                    <h2 class="title">OFFLINE AVAILABILITY</h2>
                    <div class="desc">Provides static information for the users that can be accessed even on offline mode.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/beautyappy/callbutton5.gif' src='/Assets/Images/beautyappy/callbutton5.png' alt='IN-APP CALL BUTTON' title="IN-APP CALL BUTTON'"></div>
                    <h2 class="title">IN-APP CALL BUTTON</h2>
                    <div class="desc">A “floating” button over the app screen is there to enable clients to call you instantly.</div>
                </div>

            </div>
        </div>
    </div>

    <div class="product-app-section">
        <div class="container">
            <div class="product-app">
                <div class="app-sec-1">
                    <div class="list-section leftlist"></div>
                </div>
                <div class="app-sec-2">
                    <div class="app-screen">
                        <div class="left-arrow">
                            <div class="icon ai-arrow-left"></div>
                        </div>
                        <div class="screen">
                            <img src="/Assets/Images/mobile.png" class="img img-responsive">
                            <div class="app-img">
                                <div class="sliderExample"></div>
                            </div>
                        </div>
                        <div class="right-arrow">
                            <div class="icon ai-arrow-right"></div>
                        </div>
                        <div class="list-section rightlistt"></div>
                    </div>
                </div>
                <div class="app-sec-3">
                    <div class="list-section right rightlist "></div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-video-section bg-appy">
        <div class="container">
            <div class="content">
                <h2 class="title">Beauty Appy Introduction Video</h2>
            </div>
        </div>
        <div class="container">
            <div class="video-section">
                <div class="body">
                    <div class="video-cover">
                        <a class="fancybox iframe" href="https://www.youtube.com/embed/iyJTeIMttzA?autoplay=1" allowfullscreen="allowfullscreen">
                            <div class="video">
                                <div class="icon ai-play icon-video"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #fancybox-content {
            width: 100% !important;
            height: 80vh !important;
        }

        video {
            width: 100% !important;
        }

        #fancybox-wrap {
            width: 100% !important;
            left: 0 !important;
            padding-left: 0 !important;
        }
    </style>
    <!--.........-----banner------.......-->
    <div class="ma-main">
        <div class="m-6-flex">
            <p class="get-quote">

                Want Beauty Appy Personalized for Your Business?  <br><br><a href="#login-box" class="appy-btn-new bt login-window">Ask For a Quote !</a>
            </p>



            <!-- <div class="half">
                <div class="left">
                    <div class="section">
                        <div class="content">
                             <div class="title">
                                Looking for a<span class="l-b"><br></span> Customized Mobile App?
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="half">
                <div class="right">
                    <div class="section">
                        <div class="content">
                        <p class="text"><a href="#login-box" class="appy-btn bt login-window">Ask For a Quote !</a></p>

                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!--.........-----banner------.......-->
    <style>
        .appy-btn-new {
            font-size: 25px;
            color: #FFFFFF;
            background: #4DB04F;
            height: 42px;
            margin-top: 79px !important;
            padding: 4px 15px;
            margin: 0 auto;
        }

        .ma-main .m-6-flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 230px;
            background: #1B2D39;
            /* padding-bottom: 50px;
        padding-top: 50px;*/
        }

        .ma-main .half {
            width: 100%;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .m-6-flex .left {
            text-align: right;
            padding-right: 50px;
        }

        .ma-main .left {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }

        .m-6-flex .section {
            margin-top: -198px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            max-width: 705px;
            width: 100%;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            /* align-items: center; */
        }

        .m-6-flex .left {
            text-align: right;
            padding-right: 50px;
        }

            .m-6-flex .left .title {
                font-size: 45px;
                line-height: 125%;
                color: #FFFFFF;
            }

        .ma-main .half {
            width: 100%;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .m-6-flex .right {
            height: 100%;
        }

        .m-6-flex .right {
            padding-left: 50px;
        }

        .ma-main .right {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .m-6-flex .right .appy-btn {
            font-size: 25px;
            line-height: 125%;
            color: #FFFFFF;
        }

        .ma-main .appy-btn, .bg-appy {
            background: #4DB04F;
        }

        .appy-btn {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            border: none;
            display: inline-block;
            outline: 0;
            padding: 10px 25px !important;
            overflow: hidden;
            text-decoration: none !important;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }

        .get-quote {
            text-align: center;
            width: 100%;
            color: #fff;
            margin-top: 53px;
            font-size: 30px;
        }
    </style>

    




    <div class="product-others-section">
        <div class="container">
            <div class="content">
                <h2 class="title">Other Apps</h2>
            </div>
        </div>

        <div class="container">
            <div class="other-product-list">



                <div class="other-name">
                    <a href="/Mobileapps/RealEstate" title="Real Estate Mobile App">
                        RealEstate Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Malls" title="MallsAppy Mobile App">
                        Malls Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Restro" title="Restro Appy ">
                        Restro Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Stayiinn" title="Stayiinn Appy">
                        Stayiinn Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/VoterFirst" title="Voter First">
                        Voter First                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Wheels" title="Wheels Appy">
                        Wheels Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Celeb" title="Celeb Appy – Innovative Fan Engagement Mobile App for Celebrities | Appynitty Communications">
                        Celeb Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Boutique" title="Boutique Appy">
                        Boutique Appy                                <span>|</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>
<!--modal-->
<style type="text/css">
    .btn-sign {
        width: 460px;
        margin-bottom: 20px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
        background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
        background: -o-linear-gradient(top, #00c6ff, #018eb6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
        text-align: center;
        font-size: 36px;
        color: #fff;
        text-transform: uppercase;
    }

        .btn-sign a {
            color: #fff;
            text-shadow: 0 1px 2px #161616;
        }

    #pics {
        display: none;
        /*background: #fff;
    box-shadow: 0px 0px 20px #999;
    border: 2px solid #ddd;
    */
        padding: 10px;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99999;
        opacity: 0;
        visibility: hidden;
    }

    #mask {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 999;
    }

    .login-popup {
        display: none;
        background: #fff;
        padding: 10px;
        border: 2px solid #ddd;
        float: left;
        font-size: 1.2em;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99999;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
    }

    img.btn_close {
        float: right;
        margin: -28px -28px 0 0;
    }

    fieldset {
        border: none;
    }

    form.signin .textbox label {
        display: block;
        padding-bottom: 7px;
    }

    form.signin .textbox span {
        display: block;
    }

    form.signin p, form.signin span {
        color: #999;
        font-size: 11px;
        line-height: 18px;
    }

    form.signin .textbox input {
        background: #fff;
        border-bottom: 1px solid #333;
        border-left: 1px solid #000;
        border-right: 1px solid #333;
        border-top: 1px solid #000;
        color: black;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font: 13px Arial, Helvetica, sans-serif;
        padding: 6px 6px 4px;
        width: 200px;
    }

    form.signin input:-moz-placeholder {
        color: #bbb;
        text-shadow: 0 0 2px #000;
    }

    form.signin input::-webkit-input-placeholder {
        color: #bbb;
        text-shadow: 0 0 2px #000;
    }

    .button {
        background: -moz-linear-gradient(center top, #4DB04F, #4DB04F);
        background: -webkit-gradient(linear, left top, left bottom, from(#4DB04F), to(#4DB04F));
        background: -o-linear-gradient(top, #4DB04F, #4DB04F);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
        border-color: #000;
        border-width: 1px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        color: #f4f4f4;
        cursor: pointer;
        display: inline-block;
        padding: 6px 30px 4px;
        margin-top: 10px;
        font: 12px;
        width: 130x;
    }

    .modal-footer {
        padding-left: 83px;
        text-align: center;
    }
</style>
<!--<div class="container">
    <div id="content">
        <div class="post">

            <div id="login-box" class="login-popup moz-width">
                <a href="#" id="close" class="close cls"><img src="../close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                <form name="quote" method="post" class="signin" id="form" action="#" onsubmit="return validateForm(event)">
                    <fieldset class="textbox" style="padding:15px;color: black;">
                        <div class="modal-header" style="color: black;">
                            <strong>Help Us Contact You!</strong>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Name</label>
                                <div class="input-group col-xs-7">
                                    <input type="hidden" name="appname" value="Beauty Appy" id="appname" class="form-control" />
                                    <input type="text" name="name" id="name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Email</label>
                                <div class="input-group col-xs-7">
                                    <input type="email" name="email" id="email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">*Mobile No</label>
                                <div class="input-group col-xs-7">
                                    <input type="text" name="mob" id="mob" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">Location</label>
                                <div class="input-group col-xs-7">
                                    <input type="text" name="location" id="location" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dummyText" class="control-label col-xs-4">Company Name</label>
                                <div class="input-group col-xs-7">
                                    <input type="text" name="company" id="company" class="form-control" />
                                </div>
                            </div>


                        </div>

                        <div class="modal-footer">-->
                            <!--<button class="button btn btn-default" type="button" id="close">Cancel</button>-->
                            <!--<button class="button btn btn-primary" id="btnSave" type="submit">Submit</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>-->




<!-- <script src="http://code.jquery.com/jquery-1.4.4.min.js" type="text/javascript"></script> -->
<!--for thank you image fadein-->
<!--modal UU-->
<script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


<script type="text/javascript">


    $(function () {

        function loadSlider() {
            /*  console.log(json)*/
            /*  $.post(url, { product: name },*/
            /* function (data) {*/
            /*  <img src="~/Assets/Images/realestateappy/splashscreen.png" />*/
            var app = [{ "appId": 0, "name": "Splash Screen", "icon": "icon ai-splashscreen", "image": "https://localhost:44303/Assets/Images/beautyappy/splashscreen.png" }, { "appId": 1, "name": "Home", "icon": "icon ai-demo-home", "image": "https://localhost:44303/Assets/Images/beautyappy/home.png" }, { "appId": 2, "name": "Menu", "icon": "icon ai-demo-menu", "image": "https://localhost:44303/Assets/Images/beautyappy/menu.png" }, { "appId": 3, "name": "About Us", "icon": "icon ai-demo-aboutus", "image": "https://localhost:44303/Assets/Images/beautyappy/aboutus.png" }, { "appId": 4, "name": "Gallery", "icon": "icon ai-demo-gallery", "image": "https://localhost:44303/Assets/Images/beautyappy/gallery.png" }, { "appId": 5, "name": "Location", "icon": "icon ai-demo-location", "image": "https://localhost:44303/Assets/Images/beautyappy/location.png" }, { "appId": 6, "name": "Social Media", "icon": "icon ai-demo-socialmedia", "image": "https://localhost:44303/Assets/Images/beautyappy/socialmedia.png" }, { "appId": 7, "name": "Product Listing", "icon": "icon ai-demo-productlisting", "image": "https://localhost:44303/Assets/Images/beautyappy/productlisting.png" }, { "appId": 8, "name": "Push Notification", "icon": "icon ai-demo-pushnotification", "image": "https://localhost:44303/Assets/Images/beautyappy/pushnotification.png" }, { "appId": 9, "name": "Online Payment Gateway", "icon": "icon ai-demo-onlinepayment", "image": "https://localhost:44303/Assets/Images/beautyappy/onlinepayment.png" }]
            var count = app.length;
            var half = Math.round(count / 2);
            console.log(app)
            debugger
            function init() {

                if ($(document).width() > 590) {
                    for (i = 0; i < half; i++) {
                        $(".leftlist").append('<div class="list" id="app' + app[i].appId + '"><div class="c-name">' + app[i].name + '</div><div class="c-icon"><div class="' + app[i].icon + '"></div></div></div>');
                    }
                    for (i = half; i < count; i++) {
                        $(".rightlist").append('<div class="list" id="app' + app[i].appId + '"><div class="c-name">' + app[i].name + '</div><div class="c-icon"><div class="' + app[i].icon + '"></div></div></div>');
                    }
                }
                else {
                    for (i = 0; i < count; i++) {
                        $(".rightlistt").append('<div class="list" id="app' + app[i].appId + '"><div class="c-name">' + app[i].name + '</div><div class="c-icon"><div class="' + app[i].icon + '"></div></div></div>');
                    }
                    $('.rightlistt').slick({
                        dots: false,
                        arrows: true,
                        asNavFor: '.sliderExample',
                    });
                }

            }
            ;
            init();


            $('.sliderExample').slick({
                dots: false,
                arrows: false,
                autoplay: false,
                autoplaySpeed: 2000,
            });
            for (i = 0; i < count; i++) {
                $('.sliderExample').slick('slickAdd', '<div><img src="' + app[i].image + '" class="img img-responsive"></div>');
            }
            $('.sliderExample').slick('slickGoTo', 0, false);
            $(".left-arrow").click(function () {
                $('.sliderExample').slick('slickPrev');
            });
            $(".right-arrow").click(function () {
                $('.sliderExample').slick('slickNext');
            });
            $(".list-section .list").each(function (e, q) {
                $(q).click(function () {
                    var l = $(this).prop("id");
                    l = l.substr(3, l.length);
                    $('.sliderExample').slick('slickGoTo', l, false);
                });
            });

            $('.sliderExample').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                $("#app" + currentSlide).find('.c-icon').removeClass('active_icon');
                $("#app" + nextSlide).find('.c-icon').addClass('active_icon');
            });
            $(".screen").hover(function () {
                $(".screen").addClass("animated pulse");
                $('.sliderExample').slick('slickPause');
            }, function () {
                $(".screen").removeClass("animated pulse");
                $('.sliderExample').slick('slickPlay');
            });

            /*});*/
        }

        var url = $("#product-url").attr("data-url");
        var name = $("#product-url").attr("data-name");
        loadSlider();

        $(window).resize(function () {
            //        location.reload();
        });


        //    This is for product features animation overlay effects
        $(".icon").each(function (i) {
            var img = $(this).find('img');
            var img_src = img.attr("data-gif");
            var osrc;
            if (img_src !== undefined) {
                $(this).hover(function () {
                    osrc = img.attr("src");
                    img.attr("src", img_src);
                }, function () {
                    img.attr("src", osrc);
                });
            }
        });


    });



    function validateForm(e) {

        var name = document.forms["quote"]["name"].value;
        //var validNumber = "0123456789.-";
        if (name == "") {
            if (!$('div').hasClass('validation')) {
                $('#name').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Name </div>");
            }
            return false;
        } else {
            $("div").remove(".validation");
        }


        var email = document.forms["quote"]["email"].value;
        if (email == "") {
            if (!$('div').hasClass('validation')) {
                $('#email').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Email ID </div>");
            }
            return false;
        } else {
            $("div").remove(".validation");
        }



        var mob = document.forms["quote"]["mob"].value;
        var validNumber = "0123456789.-";
        if (mob == "") {
            if (!$('div').hasClass('validation')) {
                $('#mob').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Mobile Number </div>");
            }
            return false;
        } else {
            $("div").remove(".validation");
        }
        for (i = 0; i < mob.length; i++) {
            if (validNumber.indexOf(mob.charAt(i)) == -1) {
                //alert("Please Enter numbres only");
                if (!$('div').hasClass('validation')) {
                    $('#mob').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Valid Mobile Number </div>");
                }
                return false;
            } else {
                $("div").remove(".validation");
            }
        }
        //if validation true then call save function
        save(e);
    }</script>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $('a.login-window').click(function () {

    //        // Getting the variable's value from a link
    //        var loginBox = $(this).attr('href');

    //        //Fade in the Popup and add close button
    //        $(loginBox).fadeIn(300);

    //        //Set the center alignment padding + border
    //        var popMargTop = ($(loginBox).height() + 24) / 2;
    //        var popMargLeft = ($(loginBox).width() + 24) / 2;

    //        $(loginBox).css({
    //            'margin-top': -popMargTop,
    //            'margin-left': -popMargLeft
    //        });

    //        // Add the mask to body
    //        $('body').append('<div id="mask"></div>');
    //        $('#mask').fadeIn(300);

    //        return false;
    //    });



    //    // When clicking on the button close or the mask layer the popup closed
    //    $("#close").click(function () {
    //        $(".login-popup").fadeOut();
    //        $('#mask').remove();
    //        $('.signin')[0].reset();
    //        $("div").remove(".validation");

    //    });
    //    /*$('a.close, #mask').live('click', function() {
    //      $('#mask , .login-popup').fadeOut(300 , function() {
    //        $('#mask').remove();
    //    });
    //    return false;
    //    });*/
    //});
    function save(e) {

        //$('#btnSave').text('saving...'); //change button text
        //$('#btnSave').attr('disabled',true); //set button disable
        var url;

        url = "../index.php/RealestateAppy/savequote.html";//alert(url);
        var data = $('#form').serialize();//alert(data);
        // ajax adding data to database

        $.ajax({
            url: url,
            type: "POST",
            data: $('#form').serialize(),
            //dataType: "JSON",
            async: false,
            success: function (data) {      // alert('Thank You!');
                e.preventDefault();
                if (data == "false") {
                    //alert('Fill All Data Properly..!');
                    /* break;*/
                } else {

                    //---------------------------------------
                    $(".login-popup").fadeOut();
                    $('body').append('<div id="mask"></div>');
                    // $('#picOne').fadeIn(1500).delay(3500);
                    //$( "body" ).append( "<div id='boxoverlay' class='boxoverlay'></div>" );
                    $('#picOne').fadeIn(0).delay(2500).fadeOut(1500);
                    $('#mask').remove();
                    $('.signin')[0].reset();

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Fill All Data Properly..!');
                //location.reload();
                //$(".login-popup").fadeOut();
                //$('#mask').remove();

            }
        });
    }</script>

<script type="text/javascript">
    function load() {
        if ($(document).width() <= 768) {
            $(".menu_box").slideUp();
            $("#appy_top").removeClass("top_m");
            $(".menu_btn_box").click(function () {
                $(".flex-container-patch").addClass("mobile");
                $(".flex-container-patch").removeClass("expand");
                $(".menu_box").slideToggle(100);
            });
            $(".menu_box li").click(function () {
                $(".menu_box").slideToggle(100);
            });
        }
        if ($(document).width() > 768) {
            $("#appy_top").addClass("top_m");
            $(".menu_box").slideDown();
        }
    }


    $(function () {
        load();
        $(window).resize(function () {
            // load();
        });
        $(".share-icon-box .share .share-section .blog-social i").click(function (e) {
            var e = $(this).attr("data-social");
            //alert(e);
            t = $(this).parent().siblings(".product-link").first().attr("href");
            var s = $(this).parent().siblings(".product-link").first().attr("title");
            //alert(s);
            openDialog(e, t, s);
        });
        $(".post_social_icons .soacial-item span").click(function (e) {
            //var e=$(this).attr("data-social");
            //var t=$(this).attr("data-title-src");
            //openDialog(e,t,s);
        });



        $("#load-more").on("click", function () { // When btn is pressed.
            loadMore();
        });


    });

    function openDialog(e, t, s) {
        var n;
        switch (e) {
            case "fb":
                n = "https://www.facebook.com/sharer/sharer.php?u=" + t + "&title=" + s;
                break;
            case "tw":

                n = "https://twitter.com/intent/tweet?text=" + s + " &url=" + t;
                break;
            case "gp":
                n = "https://plus.google.com/share?url=" + t;
        }
        window.open(n, "", "height=600, width=600, menubar=no, toolbar=no, resizable=yes, scrollbars=yes");
    }




</script>

