
@{
    ViewData["Title"] = "MobileApp";
}
<link href="~/Assets/CSS/MobileApp.css" rel="stylesheet" />

<section class="ma-main">
    <div class="m-flex">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="product-logo">
                        <!-- <picture>
                                                            <source media="(max-width: )" srcset="">
                                                        <img class="img img-responsive" src="" alt="" title=""/>
                        </picture> -->
                        <picture>

                            <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@768.gif">
                            <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@991.gif">
                            <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Mobileapps/app_development@1199.gif">
                            <img class="img img-responsive" src="~/Assets/Images/Index/Mobileapps/app_development.gif" alt="Digital Marketing Agency" title="Digital Marketing Services">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="right bg-appy">
                <div class="section">
                    <div class="top-text">
                        <h1 class="title">Mobile App<br>Development<br> Services</h1>
                        <h2 class="sub-title">Creating Mobile Apps that<br> Add Real Value to Your Business</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="m-2-flex">
    <div class="half">
    <div class="left">
    <div class="section">
    <div class="content">
    <div class="title">Why Should Business<br />
    Today Have Mobile Apps?</div>
    </div>
    </div>
    </div>
    </div>

    <div class="half">
    <div class="right">
    <div class="section">
    <div class="content">
    <div class="title">Statistics below show the<br />
    future of mobile apps</div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="m-3-section">
    <div class="img-section">
    <div class="img-box"><picture> <source media="(max-width: 540px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/statistics_mobileapp@480.png" /> <source media="(max-width: 768px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/statistics_mobileapp_600.png" /> <source media="(max-width: 1199px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/statistics_mobileapp_1199.png" /> <source media="(max-width: 1400px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/statistics_mobileapp_1300.png" /> <img alt="Mobile App Development" class="img img-responsive" src="http://www.appynitty.com/assets/mobile-apps/img/statistics_mobileapp_1900.png" title="Mobile App Development" /> </picture></div>
    </div>
    </div>

    <div class="m-2-flex">
    <div class="half">
    <div class="left ">
    <div class="section">
    <div class="content">
    <div class="title">App Experts Across<br />
    All Verticals</div>
    </div>
    </div>
    </div>
    </div>

    <div class="half">
    <div class="right">
    <div class="section">
    <div class="content">
    <div class="title">We bring your Business to<br />
    Customers&#39; Mobiles</div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="m-4-flex">
    <div class="half">
    <div class="left">
    <div class="section">
    <div class="content">
    <div class="title">The world is witnessing a new era with The Mobile First Revolution and our team of developers is ready to equip you with world class technology for developing your very own business mobile app ensuring an impactful online presence. We are experts in creating high quality Native Mobile Apps at most competitive pricing and fastest delivery time. From the most basic to the most advanced, we can develop mobile applications to suit your requirements and your budget!</div>
    </div>
    </div>
    </div>
    </div>

    <div class="half">
    <div class="right">
    <div class="section">
    <div class="content"><picture> <source media="(max-width: 480px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/our_apps@480.gif" /> <source media="(max-width: 991px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/our_apps@768.gif" /> <source media="(max-width: 1199px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/our_apps@1199.gif" /> <img alt="App Development Services" class="img img-responsive" src="http://www.appynitty.com/assets/mobile-apps/img/our_apps.gif" title="App Development Services" /> </picture></div>
    </div>
    </div>
    </div>
    </div>

    <div class="dm-second-section">
    <div class="half bg-appy">
    <div class="left">
    <div class="section">
    <div class="content">
    <h1 class="title">Key Benefits<br />
    to Your Business</h1>

    <div class="b-s">
    <ul class="b-l">
        <li>Increased brand awareness and positive customer reception</li>
        <li>Reduced advertisement costs with free, fully customizable and highly targeted push notifications.</li>
        <li>Customers can be reached out to at anytime even when they are on the go!</li>
        <li>Increased brand loyalty from customers.</li>
        <li>Increased referral business through app sharing.</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="half">
    <div class="right">
    <div class="section">
    <div class="content">
    <h1 class="title">Key Benefits<br />
    to Your Customers</h1>

    <div class="b-s">
    <ul class="b-l">
        <li>Quick access to information about your business in the least amount of taps.</li>
        <li>Real-time updates on latest offerings through push notifications.</li>
        <li>Access to special app-only deals and promotions.</li>
        <li>Helps them to easily navigate to your business location.</li>
        <li>Connects with you instantly through one tap calling feature.</li>
        <li>Makes it easy to digitally buy your products and services.</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="m-6-flex">
    <div class="half">
    <div class="left">
    <div class="section">
    <div class="content">
    <div class="title">Looking for a<br />
    Customized Mobile App?</div>
    </div>
    </div>
    </div>
    </div>

    <div class="half">
    <div class="right">
    <div class="section">
    <div class="content"><button class="appy-btn" onclick="location.href='http://www.appynitty.com/custom-mobile-app-development'">Click here</button></div>
    </div>
    </div>
    </div>
    </div>

    <div class="m-2-flex">
    <div class="half">
    <div class="left">
    <div class="section">
    <div class="content">
    <div class="title">Want an Instant<br />
    Mobile App Demo!</div>
    </div>
    </div>
    </div>
    </div>

    <div class="half">
    <div class="right">
    <div class="section">
    <div class="content">
    <div class="title">Click on our specialized<br />
    industry apps listed below!</div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="m-5-flex">
    <div class="half">
    <div class="left">
    <div class="section">
    <div class="content">
    <div class="title">We&#39;ve gone an extra mile to create industry wide mobile apps with inputs from experts to include comprehensive sector specific features. Just incorporate your organizational branding and your own personalized mobile app is ready for launch!</div>
    </div>
    </div>
    </div>
    </div>

    <div class="half" id="ourapps">
    <div class="right">
    <div class="section">
    <div class="i-a-d">
    <div class="app-l-sec" id="products">&nbsp;</div>

    <div class="app-l-sec"><picture> <source media="(max-width: 1199px)" srcset="http://www.appynitty.com/assets/mobile-apps/img/our_apps@1199.gif" /> <img alt="App Development Services" class="img img-responsive" src="http://www.appynitty.com/assets/mobile-apps/img/mobile_demo.gif" title="App Development Services" /> </picture></div>
    </div>
    </div>
    </div>
    </div>
    <!-- </div> </div> -->
  

    <div class="m-2-flex">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <div class="title">
                            Why Should Business<br />
                            Today Have Mobile Apps?
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="half">
            <div class="right">
                <div class="section">
                    <div class="content">
                        <div class="title">
                            Statistics below show the<br />
                            future of mobile apps
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3-section">
        <div class="img-section">
            <div class="img-box"><picture> <source media="(max-width: 540px)" srcset="~/Assets/Images/Index/Mobileapps/statistics_mobileapp@480.png" /> <source media="(max-width: 768px)" srcset="~/Assets/Images/Index/Mobileapps/statistics_mobileapp_600.png" /> <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Mobileapps/statistics_mobileapp_1199.png" /> <source media="(max-width: 1400px)" srcset="~/Assets/Images/Index/Mobileapps/statistics_mobileapp_1300.png" /> <img alt="Mobile App Development" class="img img-responsive" src="~/Assets/Images/Index/Mobileapps/statistics_mobileapp_1900.png" title="Mobile App Development" /> </picture></div>
        </div>
    </div>

    <div class="m-2-flex">
        <div class="half">
            <div class="left ">
                <div class="section">
                    <div class="content">
                        <div class="title">
                            App Experts Across<br />
                            All Verticals
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="half">
            <div class="right">
                <div class="section">
                    <div class="content">
                        <div class="title">
                            We bring your Business to<br />
                            Customers&#39; Mobiles
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-4-flex">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <div class="title">The world is witnessing a new era with The Mobile First Revolution and our team of developers is ready to equip you with world class technology for developing your very own business mobile app ensuring an impactful online presence. We are experts in creating high quality Native Mobile Apps at most competitive pricing and fastest delivery time. From the most basic to the most advanced, we can develop mobile applications to suit your requirements and your budget!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="half">
            <div class="right">
                <div class="section">
                    <div class="content"><picture> <source media="(max-width: 480px)" srcset="~/Assets/Images/Index/Mobileapps/our_apps@480.gif" /> <source media="(max-width: 991px)" srcset="~/Assets/Images/Index/Mobileapps/our_apps@768.gif" /> <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Mobileapps/our_apps@1199.gif" /> <img alt="App Development Services" class="img img-responsive" src="~/Assets/Images/Index/Mobileapps/our_apps.gif" title="App Development Services" /> </picture></div>
                </div>
            </div>
        </div>
    </div>

    <div class="dm-second-section">
        <div class="half bg-appy">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <h1 class="title">
                            Key Benefits<br />
                            to Your Business
                        </h1>

                        <div class="b-s">
                            <ul class="b-l">
                                <li>Increased brand awareness and positive customer reception</li>
                                <li>Reduced advertisement costs with free, fully customizable and highly targeted push notifications.</li>
                                <li>Customers can be reached out to at anytime even when they are on the go!</li>
                                <li>Increased brand loyalty from customers.</li>
                                <li>Increased referral business through app sharing.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="half">
            <div class="right">
                <div class="section">
                    <div class="content">
                        <h1 class="title">
                            Key Benefits<br />
                            to Your Customers
                        </h1>

                        <div class="b-s">
                            <ul class="b-l">
                                <li>Quick access to information about your business in the least amount of taps.</li>
                                <li>Real-time updates on latest offerings through push notifications.</li>
                                <li>Access to special app-only deals and promotions.</li>
                                <li>Helps them to easily navigate to your business location.</li>
                                <li>Connects with you instantly through one tap calling feature.</li>
                                <li>Makes it easy to digitally buy your products and services.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-6-flex">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <div class="title">
                            Looking for a<br />
                            Customized Mobile App?
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="half">
            <div class="right">
                <div class="section">
                    @*<a href="/home/aboutus" class="btn px-3 py-2" style="background: #3cbaba;color:#fff;font-size:16px;font-weight:500"> About Us</a>*@
                    <div class="content"> <a href="/mobileapps/customapp" class="btn px-3 py-2" style="background: #3cbaba;color:#fff;font-size:20px;font-weight:500"> Click Here</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-2-flex" id="our">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <div class="title">
                            Want an Instant<br />
                            Mobile App Demo!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="half">
            <div class="right">
                <div class="section">
                    <div class="content">
                        <div class="title">
                            Click on our specialized<br />
                            industry apps listed below!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-5-flex">
        <div class="half">
            <div class="left">
                <div class="section">
                    <div class="content">
                        <div class="title">We&#39;ve gone an extra mile to create industry wide mobile apps with inputs from experts to include comprehensive sector specific features. Just incorporate your organizational branding and your own personalized mobile app is ready for launch!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="half" id="ourapps">
            <div class="right">
                <div class="section">
                    <div class="i-a-d">
                        <div class="app-l-sec" id="products"><div class="app-list"><div class="name teaser"><a href="/mobileapps/real-Estate-mobile-app" title="RealEstate Appy">RealEstate Appy</a></div><div class="name teaser"><a href="/mobileapps/malls-mobile-app" title="Malls Appy">Malls Appy</a></div><div class="name teaser"><a href="/mobileapps/restaurant-mobile-app" title="Restro Appy">Restro Appy</a></div><div class="name teaser"><a href="/mobileapps/mobile-app-hotels-resorts" title="Stayiinn Appy">Stayiinn Appy</a></div><div class="name complete" style="display: none;"><a href="/mobileapps/mobile-app-salons-spa" title="Beauty Appy">Beauty Appy</a></div><div class="name complete" style="display: none;"><a href="/mobileapps/mobile-app-voter-engagement" title="Voter First">Voter First</a></div><div class="name complete" style="display: none;"><a href="/mobileapps/mobile-app-automobile-dealers" title="Wheels Appy">Wheels Appy</a></div><div class="name complete" style="display: none;"><a href="/mobileapps/celebrity-mobile-app" title="Celeb Appy">Celeb Appy</a></div><div class="name complete" style="display: none;"><a href="/mobileapps/boutiques-mobile-app" title="Boutique Appy">Boutique Appy</a></div><div class="icon ai-play more name"> More.. </div></div></div>

                        <div class="app-l-sec"><picture> <source media="(max-width: 1199px)" srcset="~/Assets/Images/Index/Mobileapps/our_apps@1199.gif" /> <img alt="App Development Services" class="img img-responsive" src="~/Assets/Images/Index/Mobileapps/mobile_demo.gif" title="App Development Services" /> </picture></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</section>

<script>

    $(".more").click(function (e) {

        //	$(".more").toggle();
        if ($(".more").text() == " More..") {

            $(this).text(" Less..");
            $(".complete").show();
        } else {
            $(this).text(" More..");
            $(".complete").hide();
        }

        e.preventDefault();
        e.stopPropagation();
        $(".more").css('style', 'display:block');


    });
</script>

