
@{
    ViewData["Title"] = "Stayiinn";
}

<link href="~/css/slick.css" rel="stylesheet" />
<link href="~/css/slick-theme.css" rel="stylesheet" />
<link href="~/Assets/CSS/Product.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox-1.3.4.css" />


<link href="~/Assets/CSS/Icon.css" rel="stylesheet" />

<script src="~/js/slick.js"></script>
<script type="text/javascript" src="~/js/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="~/js/realestateappy.js"></script>
<script type="text/javascript" src="~/js/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/1.7.2/jquery.min.js"></script>


<style>

.clients-box .bg-appy,
.list-section .list .c-icon.active_icon,
.list-section .list .c-icon:hover,
.product-blog .blog .top-section,
.view-more .appy-btn,
.package-cover .package .package-btn .appy-btn,
.r-m-a-main .down-btn .appy-btn,
.bg-appy,
.bt-clr{
    background: #FFB713;
}
.arrow-color{
    color:#FFB713;
}
.bt-clr{

}
.blog .yt, .blog .ln, .blog .gp, .blog .tw, .blog .fb,
.list-section .list .c-icon,
.list-section .list .c-icon,
.package-cover .package .amt{
    color:#FFB713;
}
.list-section .list .c-icon{
    border: 1px solid #FFB713;
}
.blog-social-share{
    background: #FFB713;
}
/*.m-icon .icon{
    color: #EEEEEE !important;
}
*/

/*
    @*@media(min-width:1199px) {
    .padd-dwn-71{
    padding-top: 43px;
    }
}*/
@media(min-width:1920px) {
  .biderectioanlArrowA {
    position: relative !important;
    top: -32px;
    left: 355px !important;
    margin: 0 auto;
}*@

.biderectioanlArrow {
    position: relative !important;
    /* top: -73px; */
    left: 294px !important;
    margin: 0 auto;
}
.share1920{
    margin: 0;
    margin-bottom: 53px !important;
}
.image1920{
   height: 296px !important;
}
}

</style>
<input type="hidden" id="product-url" data-url="https://www.appynitty.com/new_product/screen/4" data-name="Stayiinn Appy">
<section class="r-m-a-main">
    <div class="product-flex">
        <div class="half ">
            <div class="left">
                <div class="section">
                    <div class="product-logo">
                        <a href="mobile-app-hotels-resorts.html" title="Stayiinn Appy">
                            <img class="img img-responsive" src="/Assets/Images/stayiinnappy/stayiinnappy_logo.png" alt="Stayiinn Appy" />
                        </a>
                    </div>
                    <div class="product-intro" style="margin-bottom: 46px;">
                        <picture>
                            <source media="(max-width: 480px)" srcset="/Assets/Images/stayiinnappy/stayiinn@480.gif">
                            <source media="(max-width: 768px)" srcset="/Assets/Images/stayiinnappy/stayiinn@768.gif">
                            <source media="(max-width: 991px)" srcset="/Assets/Images/stayiinnappy/stayiinn@991.gif">
                            <source media="(max-width: 1420px)" srcset="/Assets/Images/stayiinnappy/stayiinn@1199.gif">
                            <img class="img img-responsive image1920" src="/Assets/Images/stayiinnappy/stayiinn.gif" alt="Stayiinn Appy" title="Stayiinn Appy" />
                        </picture>
                    </div>
                    <div class="download">
                        <div class="text">
                            Click here to<span class="l-b"><br></span> download Presentation
                        </div>
                        <div class="down-btn">
                            <a href="/Assets/Images/stayiinnappy/stayiinnappy_presentation.pdf" title="Stayiinn Appy" alt="Stayiinn Appy" target="_blank"><button class="appy-btn">DOWNLOAD<span class="icon ai-download"></span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="right bg-appy">
                <div class="section">
                    <div class="share-icon-section">
                        <!-- <a href="" title=""><div class="icon ai-share-with-circle"></div></a> -->
                        <div class="share-icon-box">
                            <div class="share">
                                <div class="share-section">
                                    <div class="blog-social animated slideInRight">
                                        <i class="fb icon ai-facebook" data-social="fb"></i>
                                        <i class="tw icon ai-twitter" data-social="tw"></i>
                                        <i class="gp icon ai-google-plus" data-social="gp"></i>

                                    </div>
                                    <a class="product-link" href="mobile-app-hotels-resorts.html" title="Stayiinn Appy"></a>
                                    <div class="blog-social-share ">
                                        <div class="icon ai-share-with-circle animated zoomIn"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="text-section">
                        <div class="top-text">
                            <h1 class="title">Mobile App for<span class='l-b'><br></span>Hotels & Resorts</h1>
                            <p class="sub-title">Accelerate Revenues with Mobile App<span class='l-b'><br></span>that Enhances Guest Experience even<span class='l-b'><br></span>before Check-in and after Check-out</p>
                        </div>
                    </div>
                    <div class="button-section">
                        <div class="ask-for-quote-btn">
                            <p class="text"><a href="/ContactUs/Contact" class="appy-btn login-window">Let's Get In Touch !</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--for thank you image fadein-->
    <style>
        #picOne, #picTwo {
            position: absolute;
            display: none;
        }
    </style>
    <!-- ty popoup -->
    <div id="pics" style="display: block; margin-top: -228px; margin-left: -300.5px; opacity: 1; visibility: visible;">
        <img src="../ty.jpg" id="picOne" />
    </div>
    <!--ty popoup-->

    <div class="product-f-section">
        <div class="container">
            <div class="content">
                <h2 class="title">Product Features</h2>
            </div>
        </div>
        <div class="container">
            <div class="product-features">

                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/mobileappcontactcenter4.gif' src='/Assets/Images/stayiinnappy/mobileappcontactcenter4.png' alt='MOBILE APP + CONTACT CENTER' title="MOBILE APP + CONTACT CENTER'"></div>
                    <h2 class="title">MOBILE APP + CONTACT CENTER</h2>
                    <div class="desc">Self branded mobile app for your hotels and resorts business with integrated contact center.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/pushnotifications4.gif' src='/Assets/Images/stayiinnappy/pushnotifications4.png' alt='PUSH NOTIFICATIONS' title="PUSH NOTIFICATIONS'"></div>
                    <h2 class="title">PUSH NOTIFICATIONS</h2>
                    <div class="desc">Send promotional, offers, event alerts and lots more through highly targeted and free push notifications and enhance guest engagement.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/portfolioshowcase4.gif' src='/Assets/Images/stayiinnappy/portfolioshowcase4.png' alt='PORTFOLIO SHOWCASE' title="PORTFOLIO SHOWCASE'"></div>
                    <h2 class="title">PORTFOLIO SHOWCASE</h2>
                    <div class="desc">Attract guests with virtual tour of all your hotel properties, their facilities and ambience through HD images and videos.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/googlemapsintegration4.gif' src='/Assets/Images/stayiinnappy/googlemapsintegration4.png' alt='GOOGLE MAPS INTEGRATION' title="GOOGLE MAPS INTEGRATION'"></div>
                    <h2 class="title">GOOGLE MAPS INTEGRATION</h2>
                    <div class="desc">Makes it easy for guests to navigate to any of your hotel and resort properties.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/onlinepaymentgateway4.gif' src='/Assets/Images/stayiinnappy/onlinepaymentgateway4.png' alt='ONLINE PAYMENT GATEWAY' title="ONLINE PAYMENT GATEWAY'"></div>
                    <h2 class="title">ONLINE PAYMENT GATEWAY</h2>
                    <div class="desc">Seamless net banking, e-wallets and card payments integration to enable instant booking and payment.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/socialmediaintegration4.gif' src='/Assets/Images/stayiinnappy/socialmediaintegration4.png' alt='SOCIAL MEDIA INTEGRATION' title="SOCIAL MEDIA INTEGRATION'"></div>
                    <h2 class="title">SOCIAL MEDIA INTEGRATION</h2>
                    <div class="desc">Encourage your customers to be your social media followers and enhance your social branding.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/offlineavailability4.gif' src='/Assets/Images/stayiinnappy/offlineavailability4.png' alt='OFFLINE AVAILABILITY' title="OFFLINE AVAILABILITY'"></div>
                    <h2 class="title">OFFLINE AVAILABILITY</h2>
                    <div class="desc">Provides static information for the users that can be accessed even on offline mode.</div>
                </div>
                <div class="features">
                    <div class="icon"><img class="img img-responsive" data-gif='/Assets/Images/stayiinnappy/tourplanner4.gif' src='/Assets/Images/stayiinnappy/tourplanner4.png' alt='TOUR PLANNER' title="TOUR PLANNER'"></div>
                    <h2 class="title">TOUR PLANNER</h2>
                    <div class="desc">With this exclusive feature you can engage guests with information about places of interest near your hotel/resort.</div>
                </div>

            </div>
        </div>
    </div>

    <div class="product-app-section">
        <div class="container">
            <div class="product-app">
                <div class="app-sec-1">
                    <div class="list-section leftlist"></div>
                </div>
                <div class="app-sec-2">
                    <div class="app-screen">
                        <div class="left-arrow">
                            <div class="icon ai-arrow-left"></div>
                        </div>
                        <div class="screen">
                            <img src="/Assets/Images/mobile.png" class="img img-responsive">
                            <div class="app-img">
                                <div class="sliderExample"></div>
                            </div>
                        </div>
                        <div class="right-arrow">
                            <div class="icon ai-arrow-right"></div>
                        </div>
                        <div class="list-section rightlistt"></div>
                    </div>
                </div>
                <div class="app-sec-3">
                    <div class="list-section right rightlist "></div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-video-section bg-appy">
        <div class="container">
            <div class="content">
                <h2 class="title">Stayiinn Appy Introduction Video</h2>
            </div>
        </div>
        <div class="container">
            <div class="video-section">
                <div class="body">
                    <div class="video-cover">
                        <a class="fancybox iframe" href="https://www.youtube.com/embed/_vetJnUt_7I?autoplay=1" allowfullscreen="allowfullscreen">
                            <div class="video">
                                <div class="icon ai-play icon-video"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #fancybox-content {
            width: 100% !important;
            height: 80vh !important;
        }

        video {
            width: 100% !important;
        }

        #fancybox-wrap {
            width: 100% !important;
            left: 0 !important;
            padding-left: 0 !important;
        }
    </style>
    <!--.........-----banner------.......-->
    <div class="ma-main">
        <div class="m-6-flex">
            <p class="get-quote">

                Want Stayiinn Appy Personalized for Your Business?  <br><br><a href="/ContactUs/Contact" class="appy-btn-new bt login-window">Ask For a Quote !</a>
            </p>



            <!-- <div class="half">
                <div class="left">
                    <div class="section">
                        <div class="content">
                             <div class="title">
                                Looking for a<span class="l-b"><br></span> Customized Mobile App?
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="half">
                <div class="right">
                    <div class="section">
                        <div class="content">
                        <p class="text"><a href="#login-box" class="appy-btn bt login-window">Ask For a Quote !</a></p>

                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!--.........-----banner------.......-->
    <style>
        .appy-btn-new {
            font-size: 25px;
            color: #FFFFFF;
            background: #FFB713;
            height: 42px;
            margin-top: 79px !important;
            padding: 4px 15px;
            margin: 0 auto;
        }

        .ma-main .m-6-flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 230px;
            background: #1B2D39;
            /* padding-bottom: 50px;
        padding-top: 50px;*/
        }

        .ma-main .half {
            width: 100%;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .m-6-flex .left {
            text-align: right;
            padding-right: 50px;
        }

        .ma-main .left {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }

        .m-6-flex .section {
            margin-top: -198px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            max-width: 705px;
            width: 100%;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            /* align-items: center; */
        }

        .m-6-flex .left {
            text-align: right;
            padding-right: 50px;
        }

            .m-6-flex .left .title {
                font-size: 45px;
                line-height: 125%;
                color: #FFFFFF;
            }

        .ma-main .half {
            width: 100%;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .m-6-flex .right {
            height: 100%;
        }

        .m-6-flex .right {
            padding-left: 50px;
        }

        .ma-main .right {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .m-6-flex .right .appy-btn {
            font-size: 25px;
            line-height: 125%;
            color: #FFFFFF;
        }

        .ma-main .appy-btn, .bg-appy {
            background: #FFB713;
        }

        .appy-btn {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            border: none;
            display: inline-block;
            outline: 0;
            padding: 10px 25px !important;
            overflow: hidden;
            text-decoration: none !important;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }

        .get-quote {
            text-align: center;
            width: 100%;
            color: #fff;
            margin-top: 53px;
            font-size: 30px;
        }
    </style>





    <div class="product-others-section">
        <div class="container">
            <div class="content">
                <h2 class="title">Other Apps</h2>
            </div>
        </div>

        <div class="container">
            <div class="other-product-list">



                <div class="other-name">
                    <a href="/Mobileapps/RealEstate" title="Real Estate Mobile App">
                        RealEstate Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Malls" title="MallsAppy Mobile App">
                        Malls Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Restro" title="Restro Appy ">
                        Restro Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Beauty" title="Beauty App">
                        Beauty Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/VoterFirst" title="Voter First">
                        Voter First                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Wheels" title="Wheels Appy">
                        Wheels Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Celeb" title="Celeb Appy – Innovative Fan Engagement Mobile App for Celebrities | Appynitty Communications">
                        Celeb Appy                                <span>|</span>
                    </a>
                </div>

                <div class="other-name">
                    <a href="/Mobileapps/Boutique" title="Boutique Appy">
                        Boutique Appy                                <span>|</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>




<!-- <script src="http://code.jquery.com/jquery-1.4.4.min.js" type="text/javascript"></script> -->
<!--for thank you image fadein-->
<!--modal UU-->
<script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


<script type="text/javascript">
    $(function () {

        function loadSlider() {
            /*  console.log(json)*/
            /*  $.post(url, { product: name },*/
            /* function (data) {*/
            /*  <img src="~/Assets/Images/realestateappy/splashscreen.png" />*/
            var url = window.location.origin;
            var app = [{ "appId": 0, "name": "Splash Screen", "icon": "icon ai-splashscreen", "image": "" + url + "/Assets/Images/stayiinnappy/splashscreen.png" }, { "appId": 1, "name": "Home", "icon": "icon ai-demo-home", "image": "" + url + "/Assets/Images/stayiinnappy/home.png" }, { "appId": 2, "name": "Menu", "icon": "icon ai-demo-menu", "image": "" + url + "/Assets/Images/stayiinnappy/menu.png" }, { "appId": 3, "name": "About Us", "icon": "icon ai-demo-aboutus", "image": "" + url + "/Assets/Images/stayiinnappy/aboutus.png" }, { "appId": 4, "name": "Gallery", "icon": "icon ai-demo-gallery", "image": "" + url + "/Assets/Images/stayiinnappy/gallery.png" }, { "appId": 5, "name": "Floating Call Button", "icon": "icon ai-demo-floatingbutton", "image": "" + url + "/Assets/Images/stayiinnappy/floatinginappcall.png" }, { "appId": 6, "name": "Press Realese", "icon": "icon ai-demo-pressrealese", "image": "" + url + "/Assets/Images/stayiinnappy/pressrealese.png" }, { "appId": 7, "name": "Product Listing", "icon": "icon ai-demo-productlisting", "image": "" + url + "/Assets/Images/stayiinnappy/floatinginappcall.png" }, { "appId": 8, "name": "Push Notification", "icon": "icon ai-demo-pushnotification", "image": "" + url + "/Assets/Images/stayiinnappy/pushnotification.png" }, { "appId": 9, "name": "Online Payment Gateway", "icon": "icon ai-demo-onlinepayment", "image": "" + url + "/Assets/Images/stayiinnappy/onlinepayment.png" }]
            var count = app.length;
            var half = Math.round(count / 2);
            console.log(app)
            debugger
            function init() {

                if ($(document).width() > 590) {
                    for (i = 0; i < half; i++) {
                        $(".leftlist").append('<div class="list" id="app' + app[i].appId + '"><div class="c-name">' + app[i].name + '</div><div class="c-icon"><div class="' + app[i].icon + '"></div></div></div>');
                    }
                    for (i = half; i < count; i++) {
                        $(".rightlist").append('<div class="list" id="app' + app[i].appId + '"><div class="c-name">' + app[i].name + '</div><div class="c-icon"><div class="' + app[i].icon + '"></div></div></div>');
                    }
                }
                else {
                    for (i = 0; i < count; i++) {
                        $(".rightlistt").append('<div class="list" id="app' + app[i].appId + '"><div class="c-name">' + app[i].name + '</div><div class="c-icon"><div class="' + app[i].icon + '"></div></div></div>');
                    }
                    $('.rightlistt').slick({
                        dots: false,
                        arrows: true,
                        asNavFor: '.sliderExample',
                    });
                }

            }
            ;
            init();


            $('.sliderExample').slick({
                dots: false,
                arrows: false,
                autoplay: false,
                autoplaySpeed: 2000,
            });
            for (i = 0; i < count; i++) {
                $('.sliderExample').slick('slickAdd', '<div><img src="' + app[i].image + '" class="img img-responsive"></div>');
            }
            $('.sliderExample').slick('slickGoTo', 0, false);
            $(".left-arrow").click(function () {
                $('.sliderExample').slick('slickPrev');
            });
            $(".right-arrow").click(function () {
                $('.sliderExample').slick('slickNext');
            });
            $(".list-section .list").each(function (e, q) {
                $(q).click(function () {
                    var l = $(this).prop("id");
                    l = l.substr(3, l.length);
                    $('.sliderExample').slick('slickGoTo', l, false);
                });
            });

            $('.sliderExample').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                $("#app" + currentSlide).find('.c-icon').removeClass('active_icon');
                $("#app" + nextSlide).find('.c-icon').addClass('active_icon');
            });
            $(".screen").hover(function () {
                $(".screen").addClass("animated pulse");
                $('.sliderExample').slick('slickPause');
            }, function () {
                $(".screen").removeClass("animated pulse");
                $('.sliderExample').slick('slickPlay');
            });

            /*});*/
        }

        var url = $("#product-url").attr("data-url");
        var name = $("#product-url").attr("data-name");
        loadSlider();

        $(window).resize(function () {
            //        location.reload();
        });


        //    This is for product features animation overlay effects
        $(".icon").each(function (i) {
            var img = $(this).find('img');
            var img_src = img.attr("data-gif");
            var osrc;
            if (img_src !== undefined) {
                $(this).hover(function () {
                    osrc = img.attr("src");
                    img.attr("src", img_src);
                }, function () {
                    img.attr("src", osrc);
                });
            }
        });


    });



    function validateForm(e) {

        var name = document.forms["quote"]["name"].value;
        //var validNumber = "0123456789.-";
        if (name == "") {
            if (!$('div').hasClass('validation')) {
                $('#name').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Name </div>");
            }
            return false;
        } else {
            $("div").remove(".validation");
        }


        var email = document.forms["quote"]["email"].value;
        if (email == "") {
            if (!$('div').hasClass('validation')) {
                $('#email').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Email ID </div>");
            }
            return false;
        } else {
            $("div").remove(".validation");
        }



        var mob = document.forms["quote"]["mob"].value;
        var validNumber = "0123456789.-";
        if (mob == "") {
            if (!$('div').hasClass('validation')) {
                $('#mob').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Mobile Number </div>");
            }
            return false;
        } else {
            $("div").remove(".validation");
        }
        for (i = 0; i < mob.length; i++) {
            if (validNumber.indexOf(mob.charAt(i)) == -1) {
                //alert("Please Enter numbres only");
                if (!$('div').hasClass('validation')) {
                    $('#mob').parent().after("<div class='validation' style='color:red;padding: 0 15px;font-size: 12px;float: right;'>Please Enter Valid Mobile Number </div>");
                }
                return false;
            } else {
                $("div").remove(".validation");
            }
        }
        //if validation true then call save function
        save(e);
    }</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('a.login-window').click(function () {

            // Getting the variable's value from a link
            var loginBox = $(this).attr('href');

            //Fade in the Popup and add close button
            $(loginBox).fadeIn(300);

            //Set the center alignment padding + border
            var popMargTop = ($(loginBox).height() + 24) / 2;
            var popMargLeft = ($(loginBox).width() + 24) / 2;

            $(loginBox).css({
                'margin-top': -popMargTop,
                'margin-left': -popMargLeft
            });

            // Add the mask to body
            $('body').append('<div id="mask"></div>');
            $('#mask').fadeIn(300);

            return false;
        });



        // When clicking on the button close or the mask layer the popup closed
        $("#close").click(function () {
            $(".login-popup").fadeOut();
            $('#mask').remove();
            $('.signin')[0].reset();
            $("div").remove(".validation");

        });
        /*$('a.close, #mask').live('click', function() {
          $('#mask , .login-popup').fadeOut(300 , function() {
            $('#mask').remove();
        });
        return false;
        });*/
    });
    function save(e) {

        //$('#btnSave').text('saving...'); //change button text
        //$('#btnSave').attr('disabled',true); //set button disable
        var url;

        url = "../index.php/RealestateAppy/savequote.html";//alert(url);
        var data = $('#form').serialize();//alert(data);
        // ajax adding data to database

        $.ajax({
            url: url,
            type: "POST",
            data: $('#form').serialize(),
            //dataType: "JSON",
            async: false,
            success: function (data) {      // alert('Thank You!');
                e.preventDefault();
                if (data == "false") {
                    //alert('Fill All Data Properly..!');
                    /* break;*/
                } else {

                    //---------------------------------------
                    $(".login-popup").fadeOut();
                    $('body').append('<div id="mask"></div>');
                    // $('#picOne').fadeIn(1500).delay(3500);
                    //$( "body" ).append( "<div id='boxoverlay' class='boxoverlay'></div>" );
                    $('#picOne').fadeIn(0).delay(2500).fadeOut(1500);
                    $('#mask').remove();
                    $('.signin')[0].reset();

                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Fill All Data Properly..!');
                //location.reload();
                //$(".login-popup").fadeOut();
                //$('#mask').remove();

            }
        });
    }</script>

<script type="text/javascript">
    function load() {
        if ($(document).width() <= 768) {
            $(".menu_box").slideUp();
            $("#appy_top").removeClass("top_m");
            $(".menu_btn_box").click(function () {
                $(".flex-container-patch").addClass("mobile");
                $(".flex-container-patch").removeClass("expand");
                $(".menu_box").slideToggle(100);
            });
            $(".menu_box li").click(function () {
                $(".menu_box").slideToggle(100);
            });
        }
        if ($(document).width() > 768) {
            $("#appy_top").addClass("top_m");
            $(".menu_box").slideDown();
        }
    }


    $(function () {
        load();
        $(window).resize(function () {
            // load();
        });
        $(".share-icon-box .share .share-section .blog-social i").click(function (e) {
            var e = $(this).attr("data-social");
            //alert(e);
            t = $(this).parent().siblings(".product-link").first().attr("href");
            var s = $(this).parent().siblings(".product-link").first().attr("title");
            //alert(s);
            openDialog(e, t, s);
        });
        $(".post_social_icons .soacial-item span").click(function (e) {
            //var e=$(this).attr("data-social");
            //var t=$(this).attr("data-title-src");
            //openDialog(e,t,s);
        });



        $("#load-more").on("click", function () { // When btn is pressed.
            loadMore();
        });


    });

    function openDialog(e, t, s) {
        var n;
        switch (e) {
            case "fb":
                n = "https://www.facebook.com/sharer/sharer.php?u=" + t + "&title=" + s;
                break;
            case "tw":

                n = "https://twitter.com/intent/tweet?text=" + s + " &url=" + t;
                break;
            case "gp":
                n = "https://plus.google.com/share?url=" + t;
        }
        window.open(n, "", "height=600, width=600, menubar=no, toolbar=no, resizable=yes, scrollbars=yes");
    }


</script>

