<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppynittyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="text/css" href="https://www.appynitty.com/assets/img/new_48x48.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    #UserEmail {
        margin-top: 9px;
        margin-bottom: 0px;
        margin-right: 15px;
    }
   /* .navbar-right {
        padding-left: 68%;
    }*/
    a.text-dark:hover {
        color: #343a40 !important
    }
    ul li a {
        font-size: 16px;
        font-weight: 400;
    }
    .table td, .table th {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #aaadafe0;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #aaadafe0;
    }
</style>
<body>
    <input id="Email" type="hidden" value="@TempData["Email"]" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="Identity" asp-controller="Account" asp-action="Details"><img src="/Assets/Images/appynitty-logo.png" class="img img-responsive" style="height: 70px;">&nbsp;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse d-sm-inline-flex justify-content-between">
                    @*<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="Details">Home</a>
                        </li>
                    </ul>*@
                    <div class="navbar-right">
                        <ul class="navbar-nav flex-grow-1 ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="Details">Home</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link text-dark" asp-controller="News" asp-action="Index" alt="square card">
                                  News Section
                                   </a>
                            </li>
                            <li class="nav-item">
                                <p id="UserEmail"></p>
                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Log out<i class="fa fa-sign-out" style="margin-left:5px;"></i></button>
                                        </form>
                                    }
                                    else
                                    {
                                        <p>You have successfully logged out of the application.</p>
                                    }
                                }
                            </li>
                        </ul>

                    </div>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AppynittyWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        let html = document.getElementById("Email").value;
        document.getElementById("UserEmail").innerHTML = html;
    </script>
</body>
</html>
