
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppynittyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="text/css" href="https://www.appynitty.com/assets/img/new_48x48.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</head>
<style>
    #UserEmail {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-right: 15px;
        font-weight: 600;
    }
    /* .navbar-right {
        padding-left: 68%;
    }*/
    a.text-dark:hover {
        color: #343a40 !important
    }

    ul li a {
        font-size: 16px;
        font-weight: 400;
    }

    .table td, .table th {
        padding: 0.3rem;
        vertical-align: middle;
        border-top: 1px solid #aaadafe0;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #aaadafe0;
    }

    .table tr, .table tbody {
        border: 1px solid #b4b7b8;
    }

    .nav-item {
        margin: 0 5px !important;
    }

    .btn {
        padding: 1px 0.75rem !important;
    }

    h1 {
        font-size: 1.8rem !important;
    }
</style>
<body>
    <input id="Email" type="hidden" value="@TempData["Email"]" />
    <header>
        <nav class="navbar bg-white"style="background-color: #c5f1f1 !important;">
            <div class="navbar-brand">
                <a asp-area="Identity" asp-controller="Careers" asp-action="Index" title="Appynitty Communications"><img src="/Assets/Images/Logo_Appynitty_Dropsadow.png" style="height:70px" /></a>
            </div>
            <button class="navbar-toggler">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <ul class="navbar-nav" id="navbar">
                <li class="nav-close">
                    <button class="btn-nav-close">
                        <img src="~/Assets/Images/icone-x-noir.png" style="width:15px" />
                    </button>
                </li>
               
                                <li class="nav-item" id="a">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-controller="Careers" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="News" asp-action="Index" alt="square card">
                                        News Section
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Blog" asp-action="Index" alt="square card">
                                        Blog Section
                                    </a>
                                </li>
                                <li class="nav-item" id="b">
                                    <a class="nav-link text-dark" asp-controller="Careers" asp-action="Index" alt="square card">
                                        Careers Section
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="ContactUs" asp-action="Index" alt="square card">
                                        Contact Enquiry
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                    <p id="UserEmail"></p>
                                </li>*@
                                <!--<li class="nav-item">-->
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                                @*@{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Log out<i class="fa fa-sign-out" style="margin-left:5px;"></i></button>
                                        </form>
                                    }
                                    else
                                    {
                                        <p>You have successfully logged out of the application.</p>
                                    }
                                }*@
                                <!--</li>-->
                                <li class="nav-item dropdown" id="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Assets/Images/logo_small.jpeg" width="40" height="40" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin-left: -60%;position:absolute">
                                        <a class="dropdown-item" href="#"><p id="UserEmail"></p></a>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">
                                            Register here
                                            @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-white" style="font-size:14px;">Register here</a>*@
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            @{
                                                if (User.Identity.IsAuthenticated)
                                                {
                                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                                        <button type="submit" class="nav-link btn btn-link text-dark">Log out<i class="fa fa-sign-out" style="margin-left:5px;"></i></button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <p>You have successfully logged out of the application.</p>
                                                }
                                            }
                                        </a>
                                    </div>
                                </li>
                            </ul>

                        


                   
                    @*</div>*@
                </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AppynittyWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        let html = document.getElementById("Email").value;
        document.getElementById("UserEmail").innerHTML = html;




        //active link
        debugger
        $(document).ready(function () {
            $.each($('#navbar').find('li'), function () {
                $(this).toggleClass('active',
                    window.location.pathname.indexOf($(this).find('a').attr('href')) > -1);

            });

            if (window.location.search === '?area=Identity') {
                // alert('true')
                $('#a').addClass("active");
                $('#b').removeClass("active");
            } else { $('#a').removeClass("active"); }

          
      

        /* Navbar toggler */
        const toggleBtn = document.querySelector(".navbar-toggler");
        const navbarNav = document.querySelector(".navbar-nav");
            const navCloseBtn = document.querySelector(".btn-nav-close");
            

        toggleBtn.addEventListener("click", () => {
            navbarNav.classList.toggle("active");
          
            $('#dropdown').addClass("show");
          
            $(".dropdown-menu").css("margin-left", "0px");
        });
        navCloseBtn.addEventListener("click", () => {
            navbarNav.classList.remove("active");
           
            $(".dropdown-menu").css("margin-left", "-60%");
        });
     
        });
    </script>
</body>
</html>
